extends layout
block additionalfiles
  link(rel='stylesheet', type='text/css', href='/vendor/jquery-ui/1.11.4-datepicker/css/jquery-ui.min.css')
  script(type='text/javascript', src='/vendor/jquery-ui/1.11.4-datepicker/js/jquery-ui.min.js')
  script(type='text/javascript', src="#{filepicker_cdn}/v2/filepicker.js")
  script(type='text/javascript', src='#{rfcx_cdn}/js/admin/donations.js?v=#{app_version}')
block content
  section.admin-password#adminPassword
    form.form.form-admin-password#formAdminPassword(method="POST", action="/donate_phone/check_password", data-parsley-validate)
      .form__row
        label.form__label(for="checkPasswordInput") To have access you need to type admin master password
      .form__row
        input.form__input#checkPasswordInput(type="password", name="adminpassword", data-parsley-trigger="change", required)
      .form__row
        button.btn.btn-large.btn-success(type="submit") Send
  section.admin-donatephone
    form.form.form-admin-search.form-search#formSearchMailchimpId(method="GET", action="/mailchimp/search", data-parsley-validate)
      input#inputAdminPasswordSearch(name="adminpassword", type="hidden")
      .form__row
        label.form__label(for="searchIdInput") Type the data you want to find:
        .input-append
          input.search-query#searchIdInput(type="text", name="id", placeholder="xxxxxx", data-parsley-trigger="change", required)
          button.btn.btn-large.btn-success(type="submit") Search
      .form__row.admin-donatephone__create
        p.form__label Or press button to create new donor:
        button.btn.btn-large.btn-success#btnCreateDonor(type="button", href="#myModal", role="button", data-toggle="modal") Create
    .admin-donatephone-results#searchResults
      p.admin-donatephone-results__title
        span.admin-donatephone-results__count#searchResultsCount 0
        span.admin-donatephone-results__text.
          &nbsp;results found

      button.btn.btn-small.admin-donatephone-results__clear-btn#searchClearBtn(type="button") Clear

      ul.admin-donatephone-results__list#searchResultsList
        li.admin-donatephone-results__item
          span.admin-donatephone-results__item-head.admin-donatephone-results__item-id ID Email
          span.admin-donatephone-results__item-head.admin-donatephone-results__item-name Name
          span.admin-donatephone-results__item-head.admin-donatephone-results__item-count Count
          span.admin-donatephone-results__item-head.admin-donatephone-results__item-controls

  script#donateSearchResultItemTmpl(type="text/x-jsrender")
    li.admin-donatephone-results__item.js-search-results-item
      span.admin-donatephone-results__item-id {{:idEmail}}
      span.admin-donatephone-results__item-name {{:name}}
      span.admin-donatephone-results__item-count {{:count}}
      span.admin-donatephone-results__item-controls
        a.fa.fa-edit.js-edit-row(data-id="{{:id}}", href="#myModal", role="button", data-toggle="modal")

block modals
  .modal.hide.modal-donor-info#myModal
    .modal-header
      button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
      h3 Update Donor Info
    .modal-body
      form.form.form-donations-admin#formUpdate(method="POST", action="/donate_phone/donor/update",
        data-action-update="/donate_phone/donor/update", data-action-create="/donate_phone/donor/create")
        input#inputDonorAddress(name="ADDRESS", type="hidden")
        input#inputAdminPasswordUpdate(name="adminpassword", type="hidden")
        p.form__title Donor Supplied Info
        .form__row
          .form__cell_3
            label.form__label(for="inputEmail") Donation ID
            input.form__input#inputEmailID(type="email", readonly)
            input.form__input.js-form-input#inputEmail(name="email", type="hidden", readonly)
          .form__cell_3
            label.form__label(for="inputEmailReal") Donor Email
            input.form__input.js-form-input#inputEmailReal(name="EMAIL_REAL", type="email", tabindex="1")
          .form__cell_3
            label.form__label(for="inputDonorName") Donor Name
            input.form__input.js-form-input#inputDonorName(name="NAME_DONOR", type="text", tabindex="2")
        .form__row
          .form__cell_3
            label.form__label(for="selectDonationCount") # of Phones
            .select-custom
              select.js-form-input#selectDonationCount(name="COUNT", tabindex="3")
                option(value="1") 1
                option(value="2") 2
                option(value="3") 3
                option(value="4") 4
                option(value="5") 5
                option(value="6") 6
                option(value="7") 7
                option(value="8") 8
                option(value="9") 9
                option(value="10") 10
          .form__cell_6
            label.form__label(for="textareaDonorNotes") Donor Notes
            textarea.form__textarea.js-form-input#textareaDonorNotes(name="NOTE_DONOR", readonly)
        p.form__title
          span Admin Supplied Info
        .form__row
          .form__cell_6
            label.form__label(for="inputAdminName") Admin Name
            input.form__input.js-form-input#inputAdminName(name="NAME_ADMIN", type="text", tabindex="4")
          .form__cell_3
            label.form__label(for="inputValueUsd") Donation Value (USD)
            input.form__input.js-form-input#inputValueUsd(name="VALUE_USD", type="text", tabindex="5")
        .form__row
          .form__cell_3
            label.form__label(for="inputDateReceived") Date Received
            input.form__input.js-form-input#inputDateReceived(name="RECEIVED", type="text", tabindex="6")
        .form__row
          p.form__label.
            Donor Address <span class="small">(all address fields must be filled to save full address)</span>
          .form__cell_12
            label.form__label(for="inputDonorStreet") Street Address
            input.form__input.js-address-field#inputDonorStreet(type="text", tabindex="7")
        .form__row
          .form__cell_6
            label.form__label(for="inputDonorCity") City
            input.form__input.js-address-field#inputDonorCity(type="text", tabindex="8")
          .form__cell_3
            label.form__label(for="inputDonorState") State
            input.form__input.js-address-field#inputDonorState(type="text", tabindex="9")
        .form__row
          .form__cell_3
            label.form__label(for="inputDonorZip") Postal Code/ZIP
            input.form__input.js-address-field#inputDonorZip(type="text", tabindex="10")
          .form__cell_3
            label.form__label(for="inputDonorCountry") Coutry
            input.form__input.js-address-field#inputDonorCountry(type="text", tabindex="11")
        .form__row
          .form__cell_6
            label.form__label(for="textareaAdminNotes") Notes
            textarea.form__textarea.js-form-input#textareaAdminNotes(name="NOTE_ADMIN", tabindex="12")
          .form__cell_3.form__img-preview-cell#imgPreviewCell
            label.form__label Photo Preview
            a.form__img-preview-link#imgPreviewLink(href="", target="_blank", title="Open Original Image in New Tab")
              img.form__img-preview#imgPreview(src="", alt="Photo Preview")
        .form__row
          .form__cell_6
            label.form__label(for="inputPhoto") Photo
            input.form__input.form__input_photo.js-form-input#inputPhoto(name="PHOTO", type="filepicker",
            data-fp-apikey="#{filepicker_api}", data-fp-button-class="btn form__filepicker-btn", data-fp-mimetype="image/*")
        .form__row.form__row_controls
          button.btn.btn-large.btn-success(type="submit") Save