extends layout

block content
  
  div.row-fluid.rfcx-row-gradient.rfcx-row.rfcx-row-about-1.rfcx-row-about-1-1
    div.span12
      p.roadgeek.rfcx-header= "FINALLY, TREES THAT CAN TALK"
      p.rfcx-body
        span
          | <em>Rainforest Connection</em> uses up-cycled mobile technology to monitor and protect remote forests in real-time.
  div.row-fluid.rfcx-row.rfcx-row-about-1.rfcx-row-about-1-2
    div.span4
      p.roadgeek.rfcx-header
        | IF A TREE FALLS
        br
        | IN THE FOREST...
      p.rfcx-body
        span
          | These days, statistically speaking, when a tree falls in the forest, there's usually  somebody there to hear it—the people that cut it down.
        br
        br
        span
          | <em>Rainforest Connection</em> technology lets us finally rewrite the ancient adage: "If a tree falls in the forest, "


    div.span8
      div.screen-container(onClick="showHelpBubbles();")
        img.screen-img(src="#{rfcx_cdn}/img/about/screen-trans.560.png?v=#{app_version}")
        img.screen-bg(src="#{rfcx_cdn}/img/about/screen-bg.511.jpg?v=#{app_version}")
        div.roadgeek.hint--rounded.hint--bounce.hint--error.hint--top.alert-help(data-hint="HELP!", style="left:20%;top:25%;")
        div.roadgeek.hint--rounded.hint--bounce.hint--error.hint--top.alert-help(data-hint="HELP!", style="left:84%;top:33%;")
        div.roadgeek.hint--rounded.hint--bounce.hint--error.hint--top.alert-help(data-hint="HELP!", style="left:21%;top:55%;")
        div.roadgeek.hint--rounded.hint--bounce.hint--error.hint--top.alert-help(data-hint="HELP!", style="left:59%;top:60%;")
        div.roadgeek.hint--rounded.hint--bounce.hint--error.hint--top.alert-help(data-hint="HELP!", style="left:44%;top:30%;")
        div.roadgeek.hint--rounded.hint--bounce.hint--error.hint--top.alert-help(data-hint="HELP!", style="left:68%;top:24%;")

  div.row-fluid.rfcx-row-gradient.rfcx-row.rfcx-row-about-2
    div.span6
      img.trash-img(src="#{rfcx_cdn}/img/about/phone-trash-side.380.png?v=#{app_version}")
    div.span6
      p.roadgeek.rfcx-header
        | TURNING OLD PHONES
        br
        | INTO FOREST GUARDIANS
      p.rfcx-body
        img.trash-img-mobile(src="#{rfcx_cdn}/img/about/phone-trash-side.380.png?v=#{app_version}")
        span= "Why use old smartphones to guard the rainforest?"
        br
        span= "Explaining why this is the moment when all technology converged to make this possible. Turning trash into value."

  div.row-fluid.rfcx-row-gradient.rfcx-row.rfcx-row-about-3
    div.span4
      p.roadgeek.rfcx-header= "WHERE DO WE START?"
      p.rfcx-body
        | Explanation of where we are now, where we're gonna go, and why we know what we're doing...
    div.span8
      div.rfcx-crnr-5.nopin.map-cropper
        img.map-frame(src="#{rfcx_cdn}/img/about/iphone5-black-bg.690.png?v=#{app_version}")
        div.map-cropper-internal
          div#map-container
          div.map-cover
  div.row-fluid.rfcx-row-gradient.rfcx-row.rfcx-row-about-4
    div.span5.offset1
      img.frog-img(src="#{rfcx_cdn}/img/about/azureus.290.png?v=#{app_version}")
    div.span6
      p.roadgeek.rfcx-header
        | REAL VALUE:
        br
        | WHY FROGS
        i.fa.fa-angle-right(style="margin:0px 10px;")
        | LOGS
      p.rfcx-body
        img.frog-img-mobile(src="#{rfcx_cdn}/img/about/azureus.290.png?v=#{app_version}")
        | Short rational appeal for why saving the rainforest is an imperative.
        br
        | End with a succinct, potent emotional appeal.