extends layout

block content
  
  div.row-fluid.rfcx-row-gradient.rfcx-row.rfcx-row-about-1
    div.span12
      p.roadgeek.rfcx-header= "FINALLY, TREES THAT CAN TALK"
      p.rfcx-body
        span.bold= "Rainforest Connection"
        span= " uses mobile technology to monitor and protect remote forests in real-time. "
      div.screen-container(onClick="showHelpBubbles();")
        img.screen-img(src="#{rfcx_cdn}/img/about/screen-trans.800.png")
        img.screen-bg(src="#{rfcx_cdn}/img/about/screen-bg.734.jpg")
        div.roadgeek.hint--rounded.hint--bounce.hint--error.hint--top.alert-help(data-hint="HELP!", style="left:157px;top:123px;")
        div.roadgeek.hint--rounded.hint--bounce.hint--error.hint--top.alert-help(data-hint="HELP!", style="left:672px;top:160px;")
        div.roadgeek.hint--rounded.hint--bounce.hint--error.hint--top.alert-help(data-hint="HELP!", style="left:171px;top:268px;")
        div.roadgeek.hint--rounded.hint--bounce.hint--error.hint--top.alert-help(data-hint="HELP!", style="left:472px;top:268px;")
        div.roadgeek.hint--rounded.hint--bounce.hint--error.hint--top.alert-help(data-hint="HELP!", style="left:353px;top:146px;")
        div.roadgeek.hint--rounded.hint--bounce.hint--error.hint--top.alert-help(data-hint="HELP!", style="left:494px;top:126px;")

  div.row-fluid.rfcx-row-gradient.rfcx-row.rfcx-row-about-2
    div.span6
      img.trash-img(src="#{rfcx_cdn}/img/about/phone-trash-side.380.png")
    div.span6
      p.roadgeek.rfcx-header
        | TURNING OLD PHONES
        br
        | INTO SECURITY GUARDS
      p.rfcx-body
        img.trash-img-mobile(src="#{rfcx_cdn}/img/about/phone-trash-side.380.png")
        span= "Why use old smartphones to guard the rainforest?"
        br
        span= "Explaining why this is the moment when all technology converged to make this possible. Turning trash into value."

  div.row-fluid.rfcx-row-gradient.rfcx-row.rfcx-row-about-3
    div.span4
      p.roadgeek.rfcx-header= "WHERE DO WE START?"
      p.rfcx-body
        | Explanation of where we are now, where we're gonna go, and why we know what we're doing...
    div.span8
      div.rfcx-crnr-5.nopin.map-cropper
        img.map-frame(src="#{rfcx_cdn}/img/about/iphone5-black-bg.690.png")
        div.map-cropper-internal
          div#map-container
          div.map-cover
  div.row-fluid.rfcx-row-gradient.rfcx-row.rfcx-row-about-4
    div.span5.offset1
      img.frog-img(src="#{rfcx_cdn}/img/about/azureus.290.png")
    div.span6
      p.roadgeek.rfcx-header
        | REAL VALUE:
        br
        | WHY FROGS
        i.fa.fa-angle-right(style="margin:0px 10px;")
        | LOGS
      p.rfcx-body
        img.frog-img-mobile(src="#{rfcx_cdn}/img/about/azureus.290.png")
        | Short rational appeal for why saving the rainforest is an imperative.
        br
        | End with a succinct, potent emotional appeal.