extends layout

block content
  
  div.row-fluid.rfcx-row-gradient.rfcx-row.rfcx-row-get_involved-1(style="text-align:center;")
    div.span12
      p.roadgeek.rfcx-header= "HELP SILENCE THE CHAINSAWS"
      p.rfcx-body

  div.row-fluid.rfcx-row-gradient.rfcx-row.rfcx-row-get_involved-2(style="text-align:center;")
    div.span6
      p.roadgeek.rfcx-header= "STAY INFORMED"
      p.rfcx-body
        span= "Get involved by signing up for our newsletter."
        br
        span= "We will never sell or disclose your address to anyone else."

        form(data-validate='parsley')
          div.control-group
            div.controls
              div.input-append
                input.input-large(type='text', data-type='email', id='email', name='email', placeholder='Your E-mail')
                span.add-on.btn.btn-success= "Sign-up"


    div.span6
      p.roadgeek.rfcx-header= "DONATE MONEY"
      p.rfcx-body
        span= "We recognize that not everybody can do so, but"
        br
        span= "as a small start-up, financial contributions are"
        br
        span= "the greatest gift you can give us."

        form(action="", method="POST")
          script.stripe-button(src="https://checkout.stripe.com/v2/checkout.js", data-key="pk_test_t9ZzGqE7SlzQzSyGVmLaDj8K", data-amount="", data-name="Rainforest Connection", data-description="Make a financial donation", data-image="/128x128.png")

  div.row-fluid.rfcx-row-gradient.rfcx-row.rfcx-row-get_involved-3(style="text-align:center;")
    div.span6
      p.roadgeek.rfcx-header= "DONATE PHONES"
      p.rfcx-body
        span= "Send your old Android phone to the forest"   
    div.span6
      p.roadgeek.rfcx-header= "LEND A HAND"
