extends layout

block content
  
  div.row-fluid.rfcx-row-gradient.rfcx-row.rfcx-row-get_involved-1(style="text-align:center;")
    div.span12
      p.roadgeek.rfcx-header= "HELP SILENCE THE CHAINSAWS"
      p.rfcx-body

  div.row-fluid.rfcx-row-gradient.rfcx-row.rfcx-row-get_involved-2(style="text-align:center;")
    div.span6
      p.roadgeek.rfcx-header= "STAY INFORMED"
    div.span6
      p.roadgeek.rfcx-header= "DONATE MONEY"

  div.row-fluid.rfcx-row-gradient.rfcx-row.rfcx-row-get_involved-3(style="text-align:center;")
    div.span6
      p.roadgeek.rfcx-header= "DONATE PHONES"
    div.span6
      p.roadgeek.rfcx-header= "LEND A HAND"
