extends layout

block content
  
  div.row-fluid.rfcx-row-gradient.rfcx-row.rfcx-row-get_involved-1(style="text-align:center;")
    div.span12
      p.roadgeek.rfcx-header= "HELP SILENCE THE CHAINSAWS"
      p.rfcx-body
        | We need you. The trees need you. The world needs you.

  div.row-fluid.rfcx-row-gradient.rfcx-row.rfcx-row-get_involved-2(style="text-align:center;")
    div.span4
      p.roadgeek.rfcx-header= "STAY INFORMED"
      p.rfcx-body
        | Sign up for our newsletter.
        br
        | Big things are in the works, and
        br
        | we want you to be first to know.
        br 
        | We will never sell or disclose your address to anyone else.

        form(data-validate='parsley')
          div.control-group.email-sign-up
            div.controls
              div.input-append
                input.input-large(type='text', data-type='email', id='email', name='email', placeholder='Your E-mail')
                span.add-on.btn.btn-success= "Sign-up"


    div.span4
      p.roadgeek.rfcx-header= "DONATE MONEY"
      p.rfcx-body
        | We recognize that not everybody can make financial donations, but as a small start-up, financial contributions are the
        br 
        | single greatest gift you can give.
        br
        | Make an impact. Help us grow.

      div.control-group.stripe-donate
        div.controls
          button.btn.btn-primary#stripe-donate-button= "Donate via Credit Card"

    div.span4
      p.roadgeek.rfcx-header= "DONATE A PHONE"
      p.rfcx-body
        | Mail us your old smartphone.
        br
        | We'll wipe it, retrofit it and send it
        br
        | into the jungle for its second life
        br
        | as a tireless forest guardian.
        br
        | .

      div.control-group.phone-donate
        div.controls
          button.btn.btn-gray#phone-donate-button= "Donate a Smartphone"

  div.container-narrow.footer-forest
    div.footer-bg(style="background-image:url(#{rfcx_cdn}/img/get_involved/forest-footer.1400.jpg?v=#{app_version});")

