extends layout

block content

  div.row-fluid.rfcx-row-gradient.rfcx-row.rfcx-row-get_involved-1(style="text-align:center;")
    div.span12
      p.roadgeek.rfcx-header= "HELP SILENCE THE CHAINSAWS"
      p.rfcx-body
        span.help1= "We need you. The forests need you. "
        span.help2= "The world needs you."

  div.row-fluid.rfcx-row-gradient.rfcx-row.rfcx-row-get_involved-2(style="text-align:center;")
    div.span4
      p.roadgeek.rfcx-header= "STAY INFORMED"
      p.rfcx-body
        | Sign up for our newsletter.
        br
        | Big things are in the works, and
        br
        | we want you to be the first to know.
        br 
        | We will never sell or disclose
        br
        | your address to anyone else.

        form.rfcx-form#mc-embedded-subscribe-form(name="mc-embedded-subscribe-form", target="_blank", action="https://rfcx.us7.list-manage.com/subscribe/post?u=c424f3e330b7fd5c41da1f891&amp;id=d040c73f65", method="post")
          div.control-group.email-sign-up
            div.controls
              div.input-append
                input.input-large.email#mce-EMAIL(type='text', data-type='email', data-required='true', id='email', name='EMAIL', placeholder='Your email', required)
                a.btn.btn-success= "Sign up"


    div.span4
      p.roadgeek.rfcx-header= "DONATE MONEY"
      p.rfcx-body
        | Make a real impact. Help us grow.
        br
        | As a bootstrapped start-up, financial
        br
        | donations are the single most impactful
        br
        | contribution you can make to our cause,
        br
        | and making a donation is fast and easy.

      div.control-group.stripe-donate
        div.controls
          a.btn.btn-primary#stripe-payment-button= "Donate via credit card"

    div.span4
      p.roadgeek.rfcx-header= "DONATE A PHONE"
      p.rfcx-body
        | Mail us your old smartphone.
        br
        | We'll erase it, retrofit it and send it
        br
        | into the jungle for its second life
        br
        | as a tireless forest guardian.
        br
        | .

      div.control-group.phone-donate
        div.controls
          a.btn.btn-gray#phone-donate-button(href="#rfcx_donate_phone", role="button", data-toggle="modal")= "Donate a smartphone"

  div.container-narrow.footer-forest
    img.footer-bg(src="#{rfcx_cdn}/img/get_involved/forest-footer.1400.jpg?v=#{app_version}")

  div.modal.hide.fade(id='rfcx_donate_phone', tabindex='-1', role='dialog', aria-labelledby='rfcx_donate_phone_label', aria-hidden='true', style="width:500px;")
    div.modal-header
      button.close(type='button', data-dismiss='modal', aria-hidden='true')= "x"
      h3.roadgeek#rfcx_donate_phone_label= "DONATE AN OLD SMARTPHONE"
    div.modal-body
      | Mail us your old smartphone.
      br
      br 
      | We'll erase it, retrofit it and send it into the jungle for its second life as a tireless forest guardian.
      br
      br 
      | Please send phones to this address:
      br
      br 
      | Rainforest Connection
      br
      | 77 Van Ness Ave
      br
      | Suite 101-1717
      br
      | San Francisco, CA, 94102
    div.modal-footer
      button.btn(data-dismiss='modal',aria-hidden='true')= "Close"

