extends layout

block content
  
  div.row-fluid.rfcx-row-gradient.rfcx-row.rfcx-row-get_involved-1(style="text-align:center;")
    div.span12
      p.roadgeek.rfcx-header= "HELP SILENCE THE CHAINSAWS"
      p.rfcx-body

  div.row-fluid.rfcx-row-gradient.rfcx-row.rfcx-row-get_involved-2(style="text-align:center;")
    div.span4
      p.roadgeek.rfcx-header= "STAY INFORMED"
      p.rfcx-body
        span= "Get involved by signing up for our newsletter."
        br
        span= "We will never sell or disclose your address to anyone else."

        form(data-validate='parsley')
          div.control-group
            div.controls
              div.input-append
                input.input-large(type='text', data-type='email', id='email', name='email', placeholder='Your E-mail')
                span.add-on.btn.btn-success= "Sign-up"


    div.span4
      p.roadgeek.rfcx-header= "DONATE MONEY"
      p.rfcx-body
        span= "We recognize that not everybody can do so, but"
        br
        span= "as a small start-up, financial contributions are"
        br
        span= "the greatest gift you can give us."

      button#stripe-donate-button= "Donate via Credit Card"

    div.span4
      p.roadgeek.rfcx-header= "DONATE A PHONE"
      p.rfcx-body
        span= "We recognize that not everybody can do so, but"
        br
        span= "as a small start-up, financial contributions are"
        br
        span= "the greatest gift you can give us."

      button#stripe-donate-button= "Donate via Credit Card"

  div.container-narrow.footer-forest
    div.footer-bg(style="background-image:url(#{rfcx_cdn}/img/get_involved/forest-footer.1400.jpg?v=#{app_version});")

