extends layout

block content

  section.content.content_involved
    .content__i
      div.row-fluid.rfcx-row-gradient.rfcx-row.rfcx-row-about-1.rfcx-row-about-1-1
        div.span12
          p.rfcx-row-about-1-1__title.roadgeek.rfcx-header= "Help silence the chainsaws."
          p.rfcx-body
            span.help1= "We need you. The forests need you. "
            span.help2= "The world needs you."

      div.row-fluid.rfcx-row-gradient.rfcx-row.rfcx-row-get_involved-2(style="text-align:center;")
        div.span4
          p.roadgeek.rfcx-header= "Stay informed"
          p.rfcx-body
            | Sign up for our newsletter.
            br.only-desktop
            | Big things are in the works, and
            br.only-desktop
            | we want you to be the first to know.
            br.only-desktop
            | We will never sell or disclose
            br.only-desktop
            | your address to anyone else.

            form.rfcx-form#mc-embedded-subscribe-form(name="mc-embedded-subscribe-form", target="_blank", action="https://rfcx.us9.list-manage.com/subscribe/post?u=979004c94b83bcd925931d541&amp;id=58fbf16b44", method="post")
              div.control-group.email-sign-up
                div.controls
                  div.input-append
                    input.input-large.email#mce-EMAIL(type='text', data-type='email', data-required='true', name='EMAIL', placeholder='Your email', required)
                    a.btn.btn-success= "Sign up"

        hr.mobile-only

        div.span4
          p.roadgeek.rfcx-header= "Donate money"
          p.rfcx-body
            | Make a real impact. Help us grow.
            br.only-desktop
            | As a bootstrapped startup, financial
            br.only-desktop
            | donations are the single most impactful
            br.only-desktop
            | contribution you can make to our cause,
            br.only-desktop
            | and making a donation is fast and easy.


          div.control-group
            form(action="https://www.paypal.com/cgi-bin/webscr", method="post", target="_top")
              input(type="hidden", name="cmd", value="_s-xclick")
              input(type="hidden", name="hosted_button_id", value="ZEMNV9Q5ALW6Y")
              input(type="image", src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif", border="0", name="submit", alt="")
              img(border="0", width="1", height="1", src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif")

        hr.mobile-only

        div.span4
          p.roadgeek.rfcx-header= "Donate a phone"
          p.rfcx-body
            | Mail us your old smartphone.
            br.only-desktop
            | We'll erase it, retrofit it and send it
            br.only-desktop
            | into the jungle for its second life
            br.only-desktop
            | as a tireless forest guardian.
            br.only-desktop
            span(style="visibility:hidden;")= "."

          div.control-group.phone-donate
            div.controls
              a.btn.btn-gray#phone-donate-button(href="#rfcx_donate_phone", role="button", data-toggle="modal")= "Donate a smartphone"

      div.modal.hide.fade(id='rfcx_donate_phone', tabindex='-1', role='dialog', aria-labelledby='rfcx_donate_phone_label', aria-hidden='true', style="width:500px;")
        div.modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true')
            i.fa.fa-times
          h3.roadgeek#rfcx_donate_phone_label= "DONATE AN OLD SMARTPHONE"
        div.modal-body
          | Mail us your old smartphone.
          br
          br
          | We'll erase it, retrofit it and send it into the jungle for its second life as a tireless forest guardian.
          br
          br
          | Please send phones to this address:
          br
          br
          | Rainforest Connection
          br
          | 77 Van Ness Ave
          br
          | Suite 101-1717-
          br
          | San Francisco, CA, 94102
        div.modal-footer
          button.btn(data-dismiss='modal',aria-hidden='true')= "Close"

      div.modal.hide.fade(id='make-donation', tabindex='-1', role='dialog', aria-labelledby='make-donation-label', aria-hidden='true')
        div.modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true')
            i.fa.fa-times
          h3#make-donation-label
            | Your contribution means so much to us!
        div.modal-body
          p(style="text-align:center;font-size:18px;font-weight:bold;")= "Thank you!"
          div.control-group.form-donate
            div.controls
              div.left-label
                | Amount:
              div.input-append.input-prepend
                span.add-on
                  | <span class="currency">USD</span> $
                input.input-large#rfcx-donate-amount(type='text', data-type='number', data-required='true', name='rfcx-donate-amount', placeholder='USD',value='50.00', size='7', maxlength='7')
                a.btn.btn-primary#stripe-payment-button= "Make a Donation"

        div.modal-footer
          button.btn(data-dismiss='modal',aria-hidden='true')= "Close"

    include common/banner-donate