extends layout

block content
  
  div.container-narrow.banner-video
    div.dynamic-crop-right.banner-bg(style="background-image:url(#{rfcx_cdn}/img/home/banner-forest.1400.jpg?v=#{app_version});")
    div.video-box.rfcx-launch-video
      div.rfcx-trans-linear.rfcx-trans-50.video-box-bg
      i.rfcx-trans-linear.icon-play-circle
    span.rfcx-unselectable.slogan
      p.roadgeek= "PROTECTING RAINFORESTS"
      p.roadgeek= "WITH REAL-TIME DATA"
      p.video-link.rfcx-launch-video(onclick="")
        | Watch the video of how it works
        i.icon-play

  div.row-fluid.rfcx-row.rfcx-row-home-1
    div.span7
      a(href='#infoGraphic', role='button', data-toggle='modal')
        div.rfcx-trans-linear.infographic-box
          i.rfcx-trans-linear.icon-plus-sign.expand-button.expand-button-front
          i.rfcx-trans-linear.icon-circle.expand-button.expand-button-rear
          img.infographic-thmb(src='/cdn/img/home/infographic.png')
    div.span5
      p.roadgeek.rfcx-header= "EVERY MINUTE COUNTS."
      p.roadgeek.rfcx-header= "REAL-TIME DATA MAKES"
      p.roadgeek.rfcx-header= "ALL THE DIFFERENCE"
      p.rfcx-body
        | We take old mobile phones, retrofit them
        br
        | to survive the elements and hide them sporadically
        br
        | in trees in threatened rainforests. 
        br
        | Powered by solar panels, the phones can
        br
        | stay charged for years, listening intently
        br
        | for the sounds of chainsaws, gunshots,
        br
        | and other noises that simply do not belong.
        br
        | When destructive activity occurs,
        br
        | we can tell in seconds exactly where
        br
        | the problem is — and then we
        br
        | alert local authorities who are able
        br
        | to intervene before the damage is done.

  div.row-fluid.rfcx-row-gradient.rfcx-row.rfcx-row-home-2
    div.span12
      p.roadgeek.rfcx-header= "HOW FAST ARE THE RAINFORESTS DISAPPEARING?"
      p.rfcx-body
        span= "Explanation text goes here"
      div.slider-container
        div.slider-left(style="background-image:url(/cdn/img/home/forest-slider-cut.800.jpg);")
          div.roadgeek.slider-percent= "72%"
        div.slider-middle
        div.slider-right(style="background:url(/cdn/img/home/forest-slider-ok.247.jpg) right;")


  div.row-fluid.rfcx-row-gradient.rfcx-row.rfcx-row-home-3
    div.span6
      p.roadgeek.rfcx-header= "HELP SILENCE THE CHAINSAWS"
      p.rfcx-body
        span= "Get involved by signing up for our newsletter."
        br
        span= "We have some big things in the works, and we want to make sure you will always be amongst the first to know."
        br
        span= "We will never sell or disclose your address to anyone else."

        form.validate#mc-embedded-subscribe-form(name="mc-embedded-subscribe-form", target="_blank", action="https://rfcx.us7.list-manage.com/subscribe/post?u=c424f3e330b7fd5c41da1f891&amp;id=d040c73f65", method="post")
          div.control-group
            div.controls
              div.input-append
                input.input-large.email#mce-EMAIL(type='text', data-type='email', data-required='true', id='email', name='EMAIL', placeholder='Your email', required)
                a.btn.btn-success= "Sign up"
        a.twitter-follow-button(data-show-count="true", data-size="", href="https://twitter.com/RainforestCx")= "Follow @RainforestCx"
        br
        div.fb-follow(data-width="300", data-show-faces="false", data-href="https://www.facebook.com/RainforestCx")

    div.span6
      img.stopsign(src="#{rfcx_cdn}/img/home/stopsign.358.png?v=#{app_version}")


  div.modal.hide.fade(id='infoGraphic', tabindex='-1', role='dialog', aria-labelledby='infoGraphicLabel', aria-hidden='true')
    div.modal-header
      button.close(type='button', data-dismiss='modal', aria-hidden='true')= "x"
      h3#infoGraphicLabel= "Info Graphic"
    div.modal-body
      p= "Currently using Bootstrap popup... will use more stylish fade-in YWC popup and interactive features"
    div.modal-footer
      button.btn(data-dismiss='modal',aria-hidden='true')= "Close"


