extends layout

block content
  
  div.container-narrow.banner-video
    img.banner-bg(src="#{rfcx_cdn}/img/home/banner-forest.1080.jpg?v=#{app_version}")
    div.rfcx-trans-linear.video-box.rfcx-launch-video
      div.rfcx-trans-50.video-box-bg
      i.icon-play-circle
    span.rfcx-unselectable.slogan
      p.roadgeek= "HELP SAVE RAINFORESTS"
      p.roadgeek= "USING REAL-TIME DATA"
      p.rfcx-trans-linear.video-link.rfcx-launch-video(onclick="javascript:alert();")
        span= "Watch the video of how it works"
        i.icon-arrow-right

  div.row-fluid.rfcx-row.rfcx-row-home-1
    div.span7
      a(href='#infoGraphic', role='button', data-toggle='modal')
        div.rfcx-trans-linear.infographic-box
          i.rfcx-trans-linear.icon-plus-sign.expand-button.expand-button-front
          i.rfcx-trans-linear.icon-circle.expand-button.expand-button-rear
          img.infographic-thmb(src='/cdn/img/home/infographic.png')
    div.span5
      p.roadgeek.rfcx-header= "TURNING OLD PHONES"
      p.roadgeek.rfcx-header= "INTO SECURITY GUARDS"
      p.rfcx-body
        span= "We take old mobile phones,"
        br
        span= "fit them in a metal box, attach them to trees"
        br
        span= "and then listen for the noise of chainsaws."
        br
        span= "We can tell in milliseconds which trees are"
        br
        span= "in danger — and then we alert local authorities."

  div.row-fluid.rfcx-row-gradient.rfcx-row.rfcx-row-home-2
    div.span12
      p.roadgeek.rfcx-header= "HOW FAST ARE THE RAINFORESTS DISAPPEARING?"
      p.rfcx-body
        span= "We take old mobile phones,"
      div.slider-container
        div.slider-left(style="background-image:url(/cdn/img/home/forest-slider-cut.630.jpg);")
          div.roadgeek.slider-percent= "81.3%"
        div.slider-middle
        div.slider-right

  div.row-fluid.rfcx-row-gradient.rfcx-row.rfcx-row-home-3
    div.span6
      p.roadgeek.rfcx-header= "HELP SILENCE THE CHAINSAWS"
      p.rfcx-body
        span= "Please get involved by signing up for our newsletter."
        br
        span= "We have some big things in the works, and we want to make sure you will always be amongst the first to know."
        br
        span= "We will never sell or disclose your address to anyone else."

        form(data-validate='parsley')
          div.control-group
            div.controls
              div.input-append
                input.input-large(type='text', data-type='email', id='email', name='email', placeholder='Your E-mail')
                span.add-on.btn.btn-success= "Sign-up"

        div.addthis_toolbox.addthis_default_style
          a.addthis_button_facebook_like('fb:like:layout'='button_count')
          a.addthis_button_tweet
          a.addthis_button_pinterest_pinit
          a.addthis_counter.addthis_pill_style

    div.span6
      img.stopsign(src="#{rfcx_cdn}/img/home/stopsign.358.png?v=#{app_version}")


  div.modal.hide.fade(id='infoGraphic', tabindex='-1', role='dialog', aria-labelledby='infoGraphicLabel', aria-hidden='true')
    div.modal-header
      button.close(type='button', data-dismiss='modal', aria-hidden='true')= "x"
      h3#infoGraphicLabel= "Info Graphic"
    div.modal-body
      p= "Info Graphic"
    div.modal-footer
      button.btn(data-dismiss='modal',aria-hidden='true')= "Close"


