extends layout

block content
  
  div.container-narrow.banner-video
    div.dynamic-crop-right.banner-bg(style="background-image:url(#{rfcx_cdn}/img/intro/banner-forest.1400.jpg?v=#{app_version});")
    div.video-box.video-box-page(data-video-id="vid01",data-video-version="4",data-video-youtube="bILb02OyWdc")
      img.rfcx-trans-linear.video-box-poster(src="#{rfcx_cdn}/img/intro/video-poster.512.jpg")
      img.rfcx-trans-linear.rfcx-trans-25.video-box-bg(src="#{rfcx_cdn}/img/intro/16x9.16.gif")
      i.rfcx-trans-linear.fa.fa-play-circle-o
    span.rfcx-unselectable.slogan
      p.roadgeek
        | A SOLUTION THAT CAN
        br
        | HALT ILLEGAL LOGGING
        br
        | IN RAINFORESTS

      p.video-link
        | Watch the video to learn how it works
        i.fa.fa-play

  div.row-fluid.rfcx-row.rfcx-row-intro-stats
    div.span12
      p.roadgeek.rfcx-header.title= "Here are the facts. Rainforest Destruction is..."
  div.row-fluid.rfcx-row.rfcx-row-intro-stats
    div.span4
      p.roadgeek.rfcx-header
        span.quote
          | &quot;...one of the leading causes of climate change.&quot;
    div.span4
      p.roadgeek.rfcx-header
        span.quote
          | &quot;is the driving force behind the highest species extinction rate in human history.&quot;
    div.span4
      p.roadgeek.rfcx-header
        span.quote
          | &quot;deforestation causes extinctions&quot;

  div.row-fluid.rfcx-row-gradient.rfcx-row.rfcx-row-intro-what
    div.span6
      a(href='#infoGraphic', role='button', data-toggle='modal')
        div.rfcx-trans-linear.rfcx-crnr-5.infographic-box
          img.infographic-thmb(src='/cdn/img/intro/infographic.450.png')
    div.span6.intro-what-text-container
      p.roadgeek.rfcx-header
        | EVERY MINUTE COUNTS.
        br
        | REAL-TIME DATA MEANS
        br
        | REAL-TIME INTERVENTION
      p.rfcx-body
        | We upcycle used phones into solar-powered
        br 
        | devices that pinpoint the location of
        br
        | illegal logging as it happens,
        br
        | enabling local authorities
        br 
        | to respond in real time.


  div.row-fluid.rfcx-row-gradient.rfcx-row.rfcx-row-intro-join
    div.span7
      a#get_involved
      p.roadgeek.rfcx-header= "HELP SILENCE THE CHAINSAWS. JOIN US."
      p.rfcx-body
        img.stopsign-mobile(src="#{rfcx_cdn}/img/intro/stopsign.358.png?v=#{app_version}")

        form.rfcx-form#mc-embedded-subscribe-form(name="mc-embedded-subscribe-form", target="_blank", action="https://rfcx.us7.list-manage.com/subscribe/post?u=c424f3e330b7fd5c41da1f891&amp;id=d040c73f65", method="post")

          span.rfcx-body
            span
              | Please <span class="bold">Like & Follow Us</span> On Facebook, Twitter and Google+.
          
          div.social-follow-containers
            div.social-follow-container
              div.social-follow-item.fb-follow(data-width="300", data-show-faces="false", data-href="https://www.facebook.com/RainforestCx")
            div.social-follow-container
              a.social-follow-item.twitter-follow-button(data-show-count="true", href="https://twitter.com/RainforestCx")= "Follow @RainforestCx"
            div.social-follow-container
              div.social-follow-item.g-follow(data-height="24", data-href="//plus.google.com/+RfcxOrg", data-rel="publisher")


          div.control-group
            span.rfcx-body
              span= "Stay informed by signing up for our email newsletter."
            br
            div.controls
              div.input-append
                input.input-large.email#mce-EMAIL(type='text', data-type='email', id='email', name='EMAIL', placeholder='Your email', required)
                a.btn.btn-success= "Sign up"

    div.span5
      img.stopsign(src="#{rfcx_cdn}/img/intro/stopsign.358.png?v=#{app_version}")


  div.modal.hide.fade(id='infoGraphic', tabindex='-1', role='dialog', aria-labelledby='infoGraphicLabel', aria-hidden='true')
    div.modal-header
      button.close(type='button', data-dismiss='modal', aria-hidden='true')= "x"
      h3#infoGraphicLabel= "Info Graphic"
    div.modal-body
      p= "Currently using Bootstrap popup... will use more stylish fade-in YWC popup and interactive features"
    div.modal-footer
      button.btn(data-dismiss='modal',aria-hidden='true')= "Close"

