extends layout

block content

  section.content
    .banner-video
      .banner-video__bg(style="background:url(#{rfcx_cdn}/img/intro/banner-forest.1400.jpg?v=#{app_version}) no-repeat center top;")
      .banner-video__i
        .rfcx-unselectable.slogan
          p.roadgeek
            span= __('A solution that can halt illegal logging in rainforests')
          p.video-link
            | Watch the video to learn how it works
            i.fa.fa-play

        .banner-video__video-wrapper
          div.video-box.video-box-page(data-video-id="vid03",data-video-version="1",data-video-youtube="ScrRZuaXtV0",data-video-cc="1",data-video-run-followup="1")
            img.rfcx-trans-linear.video-box-poster(src="#{rfcx_static_cdn}/video/vid01/vid01-poster.jpg?v=#{app_version}", alt="")
            img.rfcx-trans-linear.rfcx-trans-25.video-box-bg(src="#{rfcx_cdn}/img/intro/16x9.16.gif", alt="")
            i.rfcx-trans-linear.fa.fa-play-circle-o

        div.control-group.rfcx-crnr-5
          include common/donate-form

        a.intro-social.intro-social-facebook(href="https://www.facebook.com/RainforestCx",target="_blank")
          i.rfcx-trans-linear.fa.fa-facebook-square
        a.intro-social.intro-social-tumblr(href="http://tumblr.rfcx.org/",target="_blank")
          i.rfcx-trans-linear.fa.fa-tumblr-square
        a.intro-social.intro-social-twitter(href="https://twitter.com/RainforestCx",target="_blank")
          i.rfcx-trans-linear.fa.fa-twitter-square
    .content__i
      include common/intro-stats

      div.row-fluid.rfcx-row-gradient.rfcx-row.rfcx-row-intro-what
        p.roadgeek.rfcx-header.rfcx-intro-what-title
          | We <span class="ul">can</span> stop illegal logging &amp; poaching.
        .rfcx-row-intro-what__i
          div.span6
            div.rfcx-trans-linear.rfcx-crnr-5.infographic-box
              img.infographic-box__img.infographic-thmb(src="#{rfcx_cdn}/img/intro/infographic.450.png?v=#{app_version}",onClick="RFCX.fn.infoGraphicVideo(false)", alt="")
              img.infographic-box__img.infographic-box__img_bg.infographic-thmb-bg(src="#{rfcx_cdn}/img/intro/infographic.450.png?v=#{app_version}", alt="")
          div.span6.intro-what-text-container
            p.intro-what-text-container__p.roadgeek.rfcx-header
              | Every minute counts.
              br
              | Real-time awareness means
              br
              | real-time intervention.
            p.intro-what-text-container__p.rfcx-body
              | <span class="bold">Rainforest Connection</span> (RFCx) transforms recycled cell-phones into autonomous, solar-powered listening devices that can monitor and pinpoint chainsaw activity at great distance.
            p.intro-what-text-container__p.rfcx-body
              | This changes the game by providing the world's first real-time logging detection system, pinpointing deforestation activity <span class="italic">as it occurs</span>, and providing the data openly, freely, and immediately to anyone around the world.
            p.intro-what-text-container__p.rfcx-body
              | For the first time on a scalable level, responsible agents can arrive on the scene in time to interrupt the perpetrators and stop the damage, and the world can listen in as it occurs.
              br
              a.btn.btn-primary(href="/about")
                | Learn More
                i.fa.fa-arrow-right

      include common/join-us
      include common/modal-climate
      include common/modal-extinction
      include common/modal-crime