extends layout

block content
  
  div.container-narrow.banner-video
    div.dynamic-crop-right.banner-bg(style="background-image:url(#{rfcx_cdn}/img/intro/banner-forest.1400.jpg?v=#{app_version});")
    div.video-box.video-box-page(data-video-id="vid01",data-video-version="4",data-video-youtube="bILb02OyWdc")
      img.rfcx-trans-linear.video-box-poster(src="#{rfcx_cdn}/img/intro/video-poster.512.jpg")
      img.rfcx-trans-linear.rfcx-trans-25.video-box-bg(src="#{rfcx_cdn}/img/intro/16x9.16.gif")
      i.rfcx-trans-linear.fa.fa-play-circle-o
    span.rfcx-unselectable.slogan
      p.roadgeek
        | A SOLUTION THAT CAN
        br
        | HALT ILLEGAL LOGGING
        br
        | IN RAINFORESTS

      p.video-link
        | Watch the video to learn how it works
        i.fa.fa-play

  div.row-fluid.rfcx-row.rfcx-row-intro-stats
    div.span12
      p.roadgeek.rfcx-header.title= "TODAY, RAINFOREST DESTRUCTION IS..."
  div.row-fluid.rfcx-row.rfcx-row-intro-stats
    div.span4.stat-page-climate
      p.roadgeek.rfcx-header
        img.icon(src="#{rfcx_cdn}/img/intro/stats-icon-globe.70.png?v=#{app_version}",style="background-image:url(#{rfcx_cdn}/img/intro/stats-icon-bg.70.png?v=#{app_version})")
        span
          | ...a leading cause of
          br
          span.conclusion= "CLIMATE CHANGE."
          br
          span.source= "—United Nations"
          br
          a.btn.lucida(href='#stat-climate', role='button', data-toggle='modal')= "learn more"
    div.span4.stat-page-extinction
      p.roadgeek.rfcx-header
        img.icon(src="#{rfcx_cdn}/img/intro/stats-icon-death.70.png?v=#{app_version}",style="background-image:url(#{rfcx_cdn}/img/intro/stats-icon-bg.70.png?v=#{app_version})")
        span
          | ...causing global
          br
          span.conclusion= "MASS EXTINCTIONS."
          br
          span.source= "—United Nations"
          br
          a.btn.lucida(href='#stat-extinction', role='button', data-toggle='modal')= "learn more"
        
    div.span4.stat-page-crime
      p.roadgeek.rfcx-header
        img.icon(src="#{rfcx_cdn}/img/intro/stats-icon-alert.70.png?v=#{app_version}",style="background-image:url(#{rfcx_cdn}/img/intro/stats-icon-bg.70.png?v=#{app_version})")
        span
          | ...mostly caused by
          br
          span.conclusion= "ILLEGAL ACTIVITY."
          br
          span.source= "—Interpol"
          br
          a.btn.lucida(href='#stat-crime', role='button', data-toggle='modal')= "learn more"

  div.row-fluid.rfcx-row-gradient.rfcx-row.rfcx-row-intro-what
    div.span6
      a(href='#infoGraphic', role='button', data-toggle='modal')
        div.rfcx-trans-linear.rfcx-crnr-5.infographic-box
          img.infographic-thmb(src="#{rfcx_cdn}/img/intro/infographic.450.png?v=#{app_version}")
    div.span6.intro-what-text-container
      p.roadgeek.rfcx-header
        | EVERY MINUTE COUNTS.
        br
        | REAL-TIME DATA MEANS
        br
        | REAL-TIME INTERVENTION
      p.rfcx-body
        | We upcycle used phones into solar-powered
        br 
        | devices that pinpoint the location of
        br
        | illegal logging as it happens,
        br
        | enabling local authorities
        br 
        | to respond in real time.


  div.row-fluid.rfcx-row-gradient.rfcx-row.rfcx-row-intro-join
    div.span7
      a#get_involved
      p.roadgeek.rfcx-header= "HELP SILENCE THE CHAINSAWS. JOIN US."
      p.rfcx-body
        img.stopsign-mobile(src="#{rfcx_cdn}/img/intro/stopsign.358.png?v=#{app_version}")

        form.rfcx-form#mc-embedded-subscribe-form(name="mc-embedded-subscribe-form", target="_blank", action="https://rfcx.us7.list-manage.com/subscribe/post?u=c424f3e330b7fd5c41da1f891&amp;id=d040c73f65", method="post")

          span.rfcx-body
            span
              | Please <span class="bold">Like & Follow Us</span> On Facebook, Twitter and Google+.
          
          div.social-follow-containers
            div.social-follow-container
              div.social-follow-item.fb-follow(data-width="300", data-show-faces="false", data-href="https://www.facebook.com/RainforestCx")
            div.social-follow-container
              a.social-follow-item.twitter-follow-button(data-show-count="true", href="https://twitter.com/RainforestCx")= "Follow @RainforestCx"
            div.social-follow-container
              div.social-follow-item.g-follow(data-height="24", data-href="//plus.google.com/+RfcxOrg", data-rel="publisher")


          div.control-group
            span.rfcx-body
              span= "Stay informed by signing up for our email newsletter."
            br
            div.controls
              div.input-append
                input.input-large.email#mce-EMAIL(type='text', data-type='email', id='email', name='EMAIL', placeholder='Your email', required)
                a.btn.btn-success= "Sign up"

    div.span5
      img.stopsign(src="#{rfcx_cdn}/img/intro/stopsign.358.png?v=#{app_version}")


  div.modal.hide.fade(id='stat-climate', tabindex='-1', role='dialog', aria-labelledby='stat-climate-label', aria-hidden='true')
    div.modal-header
      button.close(type='button', data-dismiss='modal', aria-hidden='true')= "x"
      h3#stat-climate-label= "Deforestation is one of the leading causes of climate change."
    div.modal-body
      p= "More info goes here"
    div.modal-footer
      button.btn(data-dismiss='modal',aria-hidden='true')= "Close"

  div.modal.hide.fade(id='stat-extinction', tabindex='-1', role='dialog', aria-labelledby='stat-extinction-label', aria-hidden='true')
    div.modal-header
      button.close(type='button', data-dismiss='modal', aria-hidden='true')= "x"
      h3#stat-extinction-label= "Deforestation is the cause of the biggest extinction since the age of the dinosaurs."
    div.modal-body
      p= "More info goes here"
    div.modal-footer
      button.btn(data-dismiss='modal',aria-hidden='true')= "Close"

  div.modal.hide.fade(id='stat-crime', tabindex='-1', role='dialog', aria-labelledby='stat-crime-label', aria-hidden='true')
    div.modal-header
      button.close(type='button', data-dismiss='modal', aria-hidden='true')= "x"
      h3#stat-crime-label= "Deforestation is mostly caused by illegal activity."
    div.modal-body
      p= "More info goes here"
    div.modal-footer
      button.btn(data-dismiss='modal',aria-hidden='true')= "Close"

