extends layout-campaign

block content
  
  div.container-narrow.banner-video.campaign-video
    div.dynamic-crop-right.rfcx-trans-100.banner-bg(style="background-image:url(#{rfcx_cdn}/img/campaign/banner-forest.1400.jpg?v=#{app_version});")
    div.video-box.video-box-page(data-video-id="vid03",data-video-version="1",data-video-youtube="LyIAiqV-Oo8",data-video-cc="3",data-video-run-followup="1")
      img.rfcx-trans-linear.video-box-poster(src="#{rfcx_static_cdn}/video/vid01/vid01-poster.jpg?v=#{app_version}")
      img.rfcx-trans-linear.rfcx-trans-25.video-box-bg(src="#{rfcx_cdn}/img/intro/16x9.16.gif")
      i.rfcx-trans-linear.fa.fa-play-circle-o
    span.rfcx-unselectable#campaign-countdown
    span.rfcx-unselectable.slogan

      p.roadgeek
        | 1) Follow us
        br
        br
      div.social-follow-container.social-follow-container-facebook
        div.social-follow-item.fb-follow(data-show-faces="false",  data-colorscheme="light", data-layout="button", data-href="https://www.facebook.com/rainforestcx")
      div.social-follow-container.social-follow-container-twitter
         a.social-follow-item.twitter-follow-button(data-show-count="false", data-size="large", href="https://twitter.com/RainforestCx")

      p.roadgeek
        | 2) SHARE THE IDEA
        br
        br
      div.social-follow-container.social-share-container.social-share-facebook
        a.social-share-item.twitter-share-button(href="https://twitter.com/share",data-text="Share me",data-url="https://rfcx.org",data-show-count="false",data-lang="en")

      p.roadgeek
        | 3) SEE THE PROJECT
        br
        br

      p.video-link(style="display:none;")
        | Watch the video to learn how it works
        i.fa.fa-play

