extends layout-campaign

block content
  
  div.container-narrow.banner-video.campaign-video
    div.dynamic-crop-right.rfcx-trans-100.banner-bg(style="background-image:url(#{rfcx_cdn}/img/campaign/banner-forest.1400.jpg?v=#{app_version});")
    iframe.video-box.video-box-page(style="height:252px",src="//www.youtube.com/embed/qEHH9VSWYTI", frameborder="0", allowfullscreen)
    //-div.video-box.video-box-page(data-video-id="vid03",data-video-version="1",data-video-youtube="qEHH9VSWYTI",data-video-cc="3",data-video-run-followup="1")
      //-img.rfcx-trans-linear.video-box-poster(src="#{rfcx_static_cdn}/video/vid01/vid01-poster.jpg?v=#{app_version}")
      //-img.rfcx-trans-linear.rfcx-trans-25.video-box-bg(src="#{rfcx_cdn}/img/intro/16x9.16.gif")
      //-i.rfcx-trans-linear.fa.fa-play-circle-o
    span.rfcx-unselectable#campaign-countdown
    span.rfcx-unselectable.slogan

      p.roadgeek(style="font-size:64px;")
        | 1.
        button.btn.large.btn-custom-facebook(style="font-size:24px;font-weight:bold;margin-left:20px;position:relative;top:-8px;")
          i.fa.fa-facebook-square
          | Share on Facebook
          i.fa.fa-arrow-right(style="margin-left:14px;")

      p.roadgeek(style="font-size:64px;margin-top:20px;")
        | 2.
        button.btn.large.btn-custom-twitter(style="font-size:24px;font-weight:bold;margin-left:20px;position:relative;top:-8px;")
          i.fa.fa-twitter-square
          | Share on Twitter
          i.fa.fa-arrow-right(style="margin-left:14px;")


      p.roadgeek(style="font-size:64px;margin-top:20px;")
        | 3.
        button.btn.large.btn-custom-kickstarter(style="font-size:24px;font-weight:bold;margin-left:20px;position:relative;top:-8px;")
          i.fa.fa-leaf
          | See our Kickstarter
          i.fa.fa-arrow-right(style="margin-left:14px;")

    span.rfcx-unselectable.slogan.slogan-left
      p.roadgeek(style="font-size:34px;line-height:28px;")
       | You're here because you have influence.
       br
       | When you share something, people pay attention.
       br
       | Please take a few seconds to share our work with the world.

  a(href="/ks-redirect")
    div.ks-preview-container
      div.ks-preview-cover
      iframe.ks-preview(frameborder="0", height="420", width="220", scrolling="no", src="https://www.kickstarter.com/projects/topherwhite/rainforest-connection-phones-turned-to-forest-guar/widget/card.html?v=2")

  div.row-fluid.rfcx-row-gradient.rfcx-row.rfcx-row-intro-what
    //-div.fb-like(data-layout="box_count", data-action="like", data-show-faces="false", data-share="false", data-href="http://www.huffingtonpost.com/2013/06/10/rainforest-connection-cell-phone-deforestation_n_3416288.html")


