doctype 1.1
html(lang="en")
  
  head
    title= current_page[3]
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, minimum-scale=0.67, maximum-scale=4.0, user-scalable=no")
    meta(name="apple-mobile-web-app-capable", content="yes")
    //-meta(name="title", content="Rainforest Connection, a solution that can halt illegal logging in rainforests")
    //-meta(name="description", content="Rainforest Connection transforms recycled cell-phones into autonomous, solar-powered listening devices that can monitor and pinpoint chainsaw activity at great distance.")
    //-meta(name="image", content="//d3gq709nndn9uy.cloudfront.net/cdn/img/intro/infographic.450.png")


    if (current_page[0] == "intro")

      meta(property="og:type", content="movie")

      meta(property="og:title", content="Rainforest Connection (RFCx): Phones Turned into Forest Guardians")
      meta(property="og:description", content="Rainforest Connection — Technology that stops illegal loggers in-the-act. Our answer to climate change & global mass extinctions.")
      
      meta(property="og:url", content="#{(http_headers['x-forwarded-proto']==='https') ? 'https' : 'http'}://#{http_headers['host']}/")
      meta(property="og:image", content="https://rfcx.org/cdn/img/intro/open-graph-v01.640.jpg")
      
      meta(property="og:video", content="https://d1gbw6jvuihkp4.cloudfront.net/video/jwplayer/5.7/jwplayer.flash.swf?file=..%2f..%2fvid03%2fv5%2fvid03-v5.720.mp4&autostart=true")
      meta(property="og:video:type", content="application/x-shockwave-flash")
      meta(property="og:video:width", content="486")
      meta(property="og:video:height", content="297")



    link(rel='shortcut icon', href='#{rfcx_cdn}/img/logo/logo-square-trans.128.png?v=#{app_version}')
    link(rel='apple-touch-icon', href='#{rfcx_cdn}/img/logo/logo-square-trans.128.png?v=#{app_version}')
    link(rel='stylesheet', type='text/css', href='#{bootstrap_cdn}/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css')
    link(id='font-awesome-4', rel='stylesheet', type='text/css', href='#{bootstrap_cdn}/font-awesome/4.1.0/css/font-awesome.min.css')
    | <!--[if lt IE 9]> <script type="text/javascript" src="#{bootstrap_cdn}/html5shiv/3.6.1/html5shiv.js"></script> -->
    | <!--[if lt IE 9]> <link rel="stylesheet" type="text/css" href="#{rfcx_cdn}/css/gradient-ie9.css" /> -->
    style(type="text/css").
      @font-face{font-family:'roadgeek';font-weight:normal;font-style:normal;src:url('#{rfcx_cdn}/font/roadgeek/roadgeek.eot');src:local('☺'),url('#{rfcx_cdn}/font/roadgeek/roadgeek.woff')format('woff'),url('#{rfcx_cdn}/font/roadgeek/roadgeek.ttf')format('truetype'),url('#{rfcx_cdn}/font/roadgeek/roadgeek.svg')format('svg');}
    link(rel='stylesheet', type='text/css', href='#{rfcx_cdn}/css/rfcx-main.css?v=#{app_version}')
    link(rel='stylesheet', type='text/css', href='#{rfcx_cdn}/css/rfcx-mobile.css?v=#{app_version}', media='all and (max-device-width: 480px)')
    link(rel='stylesheet', type='text/css', href='#{rfcx_cdn}/css/rfcx-mobile-landscape.css?v=#{app_version}', media='all and (max-device-width: 480px) and (orientation:landscape)')
    script(type='text/javascript', src='#{rfcx_cdn}/js/rfcx-preload.js?v=#{app_version}')
  body.helvetica
    div.container-narrow#rfcx-container

      div.rfcx-unselectable.rfcx-trans-linear.masthead
        div.dynamic-crop-right.masthead-bg(style="background-image:url(#{rfcx_cdn}/img/masthead/masthead-bg.1400.jpg?v=#{app_version});")
        if (!current_page[5])
          a.menu-toggle
            i.fa.fa-bars
          ul.rfcx-trans-linear.nav.nav-pills.pull-right
            for item in nav_items
              if ((item[0] == current_page[0]) && item[4])
                li.active
                  a= item[1]
                  i.fa.fa-sort-up(id="masthead-notch-#{item[0]}")
              else if (item[4])
                li
                  if (item[2].indexOf("://") != -1)
                    a.hover-trans-67.rfcx-trans-linear(target="_blank",href="#{item[2]}")= item[1]
                  else
                    a.hover-trans-67.rfcx-trans-linear(href="#{item[2]}")= item[1]
            li
              a.hover-trans-67.rfcx-trans-linear(href="#contact", role="button", data-toggle="modal")= "Contact"
        a
          img.logo(src="#{rfcx_cdn}/img/masthead/masthead-logo-white.560.png?v=#{app_version}")

      block content

      div.footer.lucida
        div.footer-bg.dynamic-crop-right
        div.container-narrow
          ul.nav.nav-pills.pull-left
            li.cp
              span.copyright
                | &copy;2014 Rainforest Connection &#0153;

            li.ft
              img.logo-footer-shuttleworth.rfcx-crnr-5(src="#{rfcx_cdn}/img/masthead/shuttleworth-funded.156.png?v=#{app_version}")

          for item in social_media
            a.pull-right.hint--rounded(class=((1+social_media.indexOf(item)) % 2) ? "hint--top" : "hint--bottom", target="_blank",href="#{item[1]}", data-hint="#{item[3]}", )
              i.footer-social.rfcx-trans-linear.fa(class="fa-#{item[2]}")

    div.modal.hide.fade(id='contact', tabindex='-1', role='dialog', aria-labelledby='contact-label', aria-hidden='true')
      div.modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true')
          i.fa.fa-times
        h3#contact-label= "Contact"
      div.modal-body
        div.rfcx-crnr-5.rfcx-trans-linear.rfcx-contact-sctn(onClick="parent.location='mailto:contact@rfcx.org';")
          span.lbl
            i.fa.fa-inbox
            | Email:
          div.bdy
            | contact@rfcx.org
        div.rfcx-crnr-5.rfcx-trans-linear.rfcx-contact-sctn.mobile-exclude(onClick="RFCX.forceOlark();")
          span.lbl
            i.fa.fa-comment
            | LiveChat:
          div.bdy
            | Click to Launch
        div.rfcx-crnr-5.rfcx-trans-linear.rfcx-contact-sctn(onClick="parent.location='tel:+14153359205';")
          span.lbl
            i.fa.fa-phone-square
            | Phone:
          div.bdy
            | +1 (415) 335-9205
        div.rfcx-crnr-5.rfcx-trans-linear.rfcx-contact-sctn.rfcx-contact-sctn-long(onClick="window.open('http://r-f.cx/1eOnizB');")
          span.lbl
            i.fa.fa-envelope
            | Mailing Address:
          div.bdy
            | 77 Van Ness Ave, Suite 101-1717
            br
            | San Francisco, CA, 94102, USA
        for item in social_media
          - var i = social_media.length-1-social_media.indexOf(item)
          div.rfcx-crnr-5.rfcx-trans-linear.rfcx-contact-sctn.rfcx-contact-sctn-social(onClick="window.open('#{social_media[i][1]}');")
            span.lbl
              i.fa(class="fa-#{social_media[i][2]}")
              | <br />#{social_media[i][4]}#{ind}
      div.modal-footer
        button.btn(data-dismiss='modal',aria-hidden='true')= "Close"

    div#rfcx-menu-mobile
      div.menu-bg
      ul
        li.roadgeek.header.rfcx-trans-67(style="background-image:url(#{rfcx_cdn}/img/masthead/masthead-bg.1400.jpg?v=#{app_version});")
          span= "Rainforest Connection"
          img.logo(src="#{rfcx_cdn}/img/masthead/masthead-logo-white.560.png?v=#{app_version}")
        for item in nav_items
          if ((item[0] == current_page[0]) && item[4])
            a(href="#")
              li.roadgeek.active= item[1]
          else if (item[4])
            a(href="#{item[2]}")
              li.roadgeek= item[1]
        a(href="#contact", role="button", data-toggle="modal")
          li.roadgeek= "Contact"

    script(type='text/javascript', src='#{googlelibs_cdn}/jquery/1.10.1/jquery.min.js')
    script(type='text/javascript', src='#{cdnjs_cdn}/modernizr/2.6.2/modernizr.min.js')
    script(type='text/javascript', src='#{rfcx_cdn}/js/rfcx-main.js?v=#{app_version}')
    script(type='text/javascript', src='#{rfcx_cdn}/js/rfcx-video.js?v=#{app_version}')
    script(type='text/javascript').
      RFCX.currentPage = "#{current_page[0]}"; RFCX.cdn.rfcx = "#{rfcx_cdn}"; RFCX.cdn.bootstrap = "#{bootstrap_cdn}"; RFCX.cdn.cdnJs = "#{cdnjs_cdn}"; RFCX.cdn.rfcxVendor = "#{rfcx_vendor_cdn}"; RFCX.cdn.rfcxStatic = "#{rfcx_static_cdn}"; RFCX.cdn.videoJs = "#{videojs_cdn}"; RFCX.cdn.rfcxGithub = "https://rfcx.github.io"; RFCX.social.addThis.pubId = "#{addthis_pubid}"; RFCX.nodeEnv = "#{node_env}"; RFCX.appVersion = "#{app_version}"; RFCX.isIsolated = #{current_page[5]};
    if (node_env == "production")
      script(type='text/javascript').
        window.analytics||(window.analytics=[]),window.analytics.methods=["identify","track","trackLink","trackForm","trackClick","trackSubmit","page","pageview","ab","alias","ready","group","on","once","off"],window.analytics.factory=function(t){return function(){var a=Array.prototype.slice.call(arguments);return a.unshift(t),window.analytics.push(a),window.analytics}};for(var i=0;i<window.analytics.methods.length;i++){var method=window.analytics.methods[i];window.analytics[method]=window.analytics.factory(method)}window.analytics.load=function(t){var a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=("https:"===document.location.protocol?"https://":"http://")+"d2dq2ahtl5zl1z.cloudfront.net/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n)},window.analytics.SNIPPET_VERSION="2.0.8",window.analytics.load("#{segment_io_client_id}");window.analytics.page();
    div#rfcx-disclaimer-mobile
      span
    div#fb-root
