doctype 1.1
html(lang="en")
  
  head
    title= current_page[3]
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, minimum-scale=0.67, maximum-scale=4.0, user-scalable=no")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="description", content="")
    link(rel='shortcut icon', href='#{rfcx_cdn}/img/logo/logo-square-trans.128.png?v=#{app_version}')
    link(rel='apple-touch-icon', href='#{rfcx_cdn}/img/logo/logo-square-trans.128.png?v=#{app_version}')
    link(rel='stylesheet', type='text/css', href='#{bootstrap_cdn}/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css')
    link(id='font-awesome-4', rel='stylesheet', type='text/css', href='#{bootstrap_cdn}/font-awesome/4.0.0/css/font-awesome.min.css')
    // if lt IE 9
      script(type='text/javascript', src='#{bootstrap_cdn}/html5shiv/3.6.1/html5shiv.js')
      link(rel='stylesheet', type='text/css', href='#{rfcx_cdn}/css/gradient-ie9.css?v=#{app_version}')
    link(rel='stylesheet', type='text/css', href='#{rfcx_cdn}/font/font.css?v=#{app_version}')
    link(rel='stylesheet', type='text/css', href='#{rfcx_cdn}/css/rfcx-main.css?v=#{app_version}')
    link(rel='stylesheet', type='text/css', href='#{rfcx_cdn}/css/rfcx-mobile.css?v=#{app_version}', media='all and (max-device-width: 480px)')
    link(rel='stylesheet', type='text/css', href='#{rfcx_cdn}/css/rfcx-mobile-landscape.css?v=#{app_version}', media='all and (max-device-width: 480px) and (orientation:landscape)')
  body.helvetica
    div.container-narrow#rfcx-container

      div.rfcx-unselectable.rfcx-trans-linear.masthead
        div.dynamic-crop-right.masthead-bg(style="background-image:url(#{rfcx_cdn}/img/masthead/masthead-bg.1400.jpg?v=#{app_version});")
        if (!current_page[5])
          a.menu-toggle
            i.fa.fa-reorder
            i.fa.fa-chevron-up
          ul.rfcx-trans-linear.nav.nav-pills.pull-right
            for item in nav_items
              if (item[0] == current_page[0])
                li.active
                  a= item[1]
                  i.fa.fa-sort-up(id="masthead-notch-#{item[0]}")
              else if (item[4])
                li
                  if (item[2].indexOf("://") != -1)
                    a.hover-trans-67.rfcx-trans-linear(target="_blank",href="#{item[2]}")= item[1]
                  else
                    a.hover-trans-67.rfcx-trans-linear(href="#{item[2]}")= item[1]
            li
              a.hover-trans-67.rfcx-trans-linear(href="#contact", role="button", data-toggle="modal")= "Contact"
        a
          img.logo(src="#{rfcx_cdn}/img/masthead/masthead-logo-white.560.png?v=#{app_version}")

      block content

      div.footer.lucida
        div.footer-bg.dynamic-crop-right
        div.container-narrow
          ul.nav.nav-pills.pull-left
            li.cp
              span.copyright
                | &copy;2013 Rainforest Connection &#0153;

            if (!current_page[5]) 
              li.ft= "|"
              for item in nav_items
                li.ft
                  if (item[0] == current_page[0])
                    a.rfcx-trans-linear(href="#")= item[1]
                    li.ft= "|"
                  else if (item[4])
                    a.rfcx-trans-linear(href="#{item[2]}")= item[1]
                    li.ft= "|"
              li.ft
                a.rfcx-trans-linear(href="#contact", role="button", data-toggle="modal")= "Contact"
              li.ft= "|"
          for item in social_media
            a.pull-right.hint--rounded(class=((1+social_media.indexOf(item)) % 2) ? "hint--top" : "hint--bottom", target="_blank",href="#{item[1]}", data-hint="#{item[3]}", )
              i.footer-social.rfcx-trans-linear.fa(class="fa-#{item[2]}")

    div.modal.hide.fade(id='contact', tabindex='-1', role='dialog', aria-labelledby='contact-label', aria-hidden='true')
      div.modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true')
          i.fa.fa-times
        h3#contact-label= "We'd love to hear from you!"
      div.modal-body
        div.rfcx-crnr-5.rfcx-trans-linear.rfcx-contact-sctn(onClick="parent.location='mailto:contact@rfcx.org';")
          span.lbl
            i.fa.fa-inbox
            | Email:
          div.bdy
            | contact@rfcx.org
        div.rfcx-crnr-5.rfcx-trans-linear.rfcx-contact-sctn(onClick="RFCX.forceOlark();")
          span.lbl
            i.fa.fa-comment
            | LiveChat:
          div.bdy
            | Click to Launch
        div.rfcx-crnr-5.rfcx-trans-linear.rfcx-contact-sctn(onClick="parent.location='tel:+14153359205';")
          span.lbl
            i.fa.fa-phone-square
            | Phone:
          div.bdy
            | +1 (415) 335-9205
        div.rfcx-crnr-5.rfcx-trans-linear.rfcx-contact-sctn.rfcx-contact-sctn-long(onClick="window.open('http://rainforest.cx/1eOnizB');")
          span.lbl
            i.fa.fa-envelope
            | Mailing Address:
          div.bdy
            | 77 Van Ness Ave, Suite 101-1717
            br
            | San Francisco, CA, 94102, USA
        div.rfcx-crnr-5.rfcx-trans-linear.rfcx-contact-sctn.rfcx-contact-sctn-social(onClick="window.open('https://www.facebook.com/RainforestCx');")
          span.lbl
            i.fa.fa-facebook-square
            | <br />Facebook
        div.rfcx-crnr-5.rfcx-trans-linear.rfcx-contact-sctn.rfcx-contact-sctn-social(onClick="window.open('https://twitter.com/RainforestCx');")
          span.lbl
            i.fa.fa-twitter-square
            | <br />Twitter
        div.rfcx-crnr-5.rfcx-trans-linear.rfcx-contact-sctn.rfcx-contact-sctn-social(onClick="window.open('https://plus.google.com/+RfcxOrg');")
          span.lbl
            i.fa.fa-google-plus-square
            | <br />Google+
        div.rfcx-crnr-5.rfcx-trans-linear.rfcx-contact-sctn.rfcx-contact-sctn-social(onClick="window.open('http://www.linkedin.com/company/rainforest-connection');")
          span.lbl
            i.fa.fa-linkedin-square
            | <br />LinkedIn
        div.rfcx-crnr-5.rfcx-trans-linear.rfcx-contact-sctn.rfcx-contact-sctn-social(onClick="window.open('http://www.flickr.com/photos/rainforestcx/');")
          span.lbl
            i.fa.fa-flickr
            | <br />Flickr
        div.rfcx-crnr-5.rfcx-trans-linear.rfcx-contact-sctn.rfcx-contact-sctn-social(onClick="window.open('http://instagram.com/rainforestcx');")
          span.lbl
            i.fa.fa-instagram
            | <br />Instagram
        div.rfcx-crnr-5.rfcx-trans-linear.rfcx-contact-sctn.rfcx-contact-sctn-social(onClick="window.open('https://github.com/rfcx');")
          span.lbl
            i.fa.fa-github-square
            | <br />Github
      div.modal-footer
        button.btn(data-dismiss='modal',aria-hidden='true')= "Close"

    div#rfcx-menu-mobile
      ul
        li.roadgeek.header
          | Rainforest Connection
        for item in nav_items
          if (item[0] == current_page[0])
            a(href="#")
              li.roadgeek.active= item[1]
          else if (item[4])
            a(href="#{item[2]}")
              li.roadgeek= item[1]
        a(href="#contact", role="button", data-toggle="modal")
          li.roadgeek= "Contact"

    script(type='text/javascript', src='#{googlelibs_cdn}/jquery/1.10.1/jquery.min.js')
    script(type='text/javascript', src='#{cdnjs_cdn}/modernizr/2.6.2/modernizr.min.js')
    script(type='text/javascript', src='#{rfcx_cdn}/js/rfcx-main.js?v=#{app_version}')
    script(type='text/javascript', src='#{rfcx_cdn}/js/rfcx-video.js?v=#{app_version}')
    script(type='text/javascript').
      RFCX.currentPage = "#{current_page[0]}"; RFCX.cdn.rfcx = "#{rfcx_cdn}"; RFCX.cdn.bootstrap = "#{bootstrap_cdn}"; RFCX.cdn.cdnJs = "#{cdnjs_cdn}"; RFCX.cdn.rfcxVendor = "#{rfcx_vendor_cdn}"; RFCX.cdn.videoJs = "#{videojs_cdn}"; RFCX.social.addThis.pubId = "#{addthis_pubid}"; RFCX.nodeEnv = "#{node_env}"; RFCX.appVersion = "#{app_version}"; RFCX.isIsolated = #{current_page[5]};
    if (node_env == "production")
      script(type='text/javascript').
        var analytics=analytics||[];analytics.load=function(e){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src=("https:"===document.location.protocol?"https://":"http://")+"d2dq2ahtl5zl1z.cloudfront.net/analytics.js/v1/"+e+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(t,n);var r=function(e){return function(){analytics.push([e].concat(Array.prototype.slice.call(arguments,0)))}},i=["identify","track","trackLink","trackForm","trackClick","trackSubmit","pageview","ab","alias","ready"];for(var s=0;s<i.length;s++)analytics[i[s]]=r(i[s])}; analytics.load("#{segment_io_client_id}");
    div#rfcx-disclaimer-mobile
      span
    div#fb-root
