doctype html
html(lang="en")

  head
    // Google Tag Manager
    script.
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-5QT6X8W');
    // End Google Tag Manager
    title= current_page[3]
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, minimum-scale=0.67, maximum-scale=1.0, user-scalable=no")
    meta(name="apple-mobile-web-app-capable", content="yes")

    if (current_page[0] == "intro")
      meta(property="og:type", content="movie")

      meta(property="og:title", content="Rainforest Connection (RFCx): Phones Turned into Forest Guardians")
      meta(property="og:description", content="Rainforest Connection — Technology that stops illegal loggers in-the-act. Our answer to climate change & global mass extinctions.")

      meta(property="og:url", content="#{(http_headers['x-forwarded-proto']==='https') ? 'https' : 'http'}://#{http_headers['host']}/")
      meta(property="og:image", content="https://rfcx.org/cdn/img/intro/open-graph-v01.640.jpg")

      meta(property="og:video", content="https://static.rfcx.org/video/jwplayer/5.7/jwplayer.flash.swf?file=..%2f..%2fvid03%2fv5%2fvid03-v5.720.mp4&autostart=true")
      meta(property="og:video:type", content="application/x-shockwave-flash")
      meta(property="og:video:width", content="486")
      meta(property="og:video:height", content="297")

    link(rel='shortcut icon', href='#{rfcx_cdn}/img/logo/logo-square-trans.128.png?v=#{app_version}')
    link(rel='apple-touch-icon', href='#{rfcx_cdn}/img/logo/logo-square-trans.128.png?v=#{app_version}')
    | <!--[if lt IE 9]> <script type="text/javascript" src="#{bootstrap_cdn}/html5shiv/3.6.1/html5shiv.js"></script> <![endif]-->
    | <!--[if lt IE 9]> <link rel="stylesheet" type="text/css" href="#{rfcx_cdn}/css/gradient-ie9.css" /> <![endif]-->
  body(class="helvetica lang-#{locale}")
    // Google Tag Manager (noscript)
    noscript
      iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-5QT6X8W', height='0', width='0', style='display:none;visibility:hidden')
    // End Google Tag Manager (noscript)
    #loadingContainer.loading-container(style="position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 99999; background: #fff;")
    #phoneDeviceContainer
    #tabletDeviceContainer
    #spinnerContainer.spinner-container
    #rfcx-container.rfcx-container
      header.header
        div.header__bg(style="background:url(#{rfcx_cdn}/img/masthead/masthead-bg.1400.jpg?v=#{app_version}) no-repeat center bottom;")
        .header__i
          div.rfcx-unselectable.rfcx-trans-linear.masthead
            if (!current_page[5])
              a.menu-toggle#mobileMenuToggle
                i.fa.fa-bars
              ul.masthead__list.rfcx-trans-linear.nav.nav-pills.pull-right
                for item in nav_items
                  if ((item[0] == current_page[0]) && item[4])
                    li.masthead__list-item.active
                      a.masthead__link
                        span= __(item[1])
                      i.fa.fa-sort-up(id="masthead-notch-#{item[0]}")
                  else if (item[4])
                    li.masthead__list-item
                      if (item[2].indexOf("://") != -1)
                        a.masthead__link.hover-trans-67.rfcx-trans-linear(target="_blank",href="#{locale_url}#{item[2]}")
                          span= __(item[1])
                      else
                        a.masthead__link.hover-trans-67.rfcx-trans-linear(href="#{locale_url}#{item[2]}")
                          span= __(item[1])
                li.masthead__list-item
                  a.masthead__link.hover-trans-67.rfcx-trans-linear(href="#contact", role="button", data-toggle="modal")
                    span= __("Contact")
                li.masthead__list-item
                  a.masthead__link.hover-trans-67.rfcx-trans-linear(href="http://dashboard.rfcx.org", target="_blank")
                    span= __("Login")
            a(href="#{locale_url}/").header__logo-link
              img.header__logo-img(src="#{rfcx_cdn}/img/masthead/masthead-logo-white.560.png?v=#{app_version}", alt="")

      block content

      footer.footer.lucida
        .footer__i
          ul.footer__left-list
            li.footer__left-list-item.cp
              span.footer__copyright
                | &copy;2017 Rainforest Connection &trade;

          ul.footer__social-list
            for item in social_media
              li.footer__social-item
                a.footer__social-link.hint--rounded(class=((1+social_media.indexOf(item)) % 2) ? "hint--top" : "hint--bottom", target="_blank",href="#{item[1]}", data-hint="#{item[3]}", )
                  i.footer-social.rfcx-trans-linear.fa(class="fa-#{item[2]}")

    div.modal.hide.fade(id='contact', tabindex='-1', role='dialog', aria-labelledby='contact-label', aria-hidden='true')
      div.modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true')
          i.fa.fa-times
        h3#contact-label.contact-label= __("Contact")
      div.modal-body
        div.rfcx-crnr-5.rfcx-trans-linear.rfcx-contact-sctn(onClick="parent.location='mailto:contact@rfcx.org';")
          span.lbl
            i.fa.fa-inbox
            span= __("Email")
            | :
          div.bdy
            | contact@rfcx.org
        div.rfcx-crnr-5.rfcx-trans-linear.rfcx-contact-sctn.mobile-exclude(onClick="RFCX.forceOlark();")
          span.lbl
            i.fa.fa-comment
            | LiveChat:
          div.bdy= __("Click to Launch")
        div.rfcx-crnr-5.rfcx-trans-linear.rfcx-contact-sctn(onClick="parent.location='tel:+14153359205';")
          span.lbl
            i.fa.fa-phone-square= __("Phone")
            | :
          div.bdy
            | +1 (415) 335-9205
        div.rfcx-crnr-5.rfcx-trans-linear.rfcx-contact-sctn.rfcx-contact-sctn-long(onClick="window.open('http://r-f.cx/1eOnizB');")
          span.lbl
            i.fa.fa-envelope= __("Mailing Address")
            | :
          div.bdy
            | 77 Van Ness Ave, Suite 101-1717
            br
            | San Francisco, CA, 94102, USA
        for item in social_media
          - var i = social_media.length-1-social_media.indexOf(item)
          div.rfcx-crnr-5.rfcx-trans-linear.rfcx-contact-sctn.rfcx-contact-sctn-social(onClick="window.open('#{social_media[i][1]}');")
            span.lbl
              i.fa(class="fa-#{social_media[i][2]}")
              | <br />#{social_media[i][4]}#{ind}
      div.modal-footer
        button.btn(data-dismiss='modal',aria-hidden='true')= __("Close")

    #rfcx-menu-mobile.rfcx-menu-mobile
      .rfcx-menu-mobile__bg
      ul.rfcx-menu-mobile__list
        li.rfcx-menu-mobile__list-item.roadgeek.header.rfcx-trans-67(style="background-image:url(#{rfcx_cdn}/img/masthead/masthead-bg.1400.jpg?v=#{app_version});")
          span.rfcx-menu-mobile__ghost-text= "Rainforest Connection"
          img.rfcx-menu-mobile__logo(src="#{rfcx_cdn}/img/masthead/masthead-logo-white.560.png?v=#{app_version}", alt="Rainforest Connection")
        for item in nav_items
          if ((item[0] == current_page[0]) && item[4])
            li.rfcx-menu-mobile__list-item.active
              span.rfcx-menu-mobile__nolink.roadgeek= __(item[1])
          else if (item[4])
            li.rfcx-menu-mobile__list-item
              a.rfcx-menu-mobile__link.roadgeek(href="#{locale_url}#{item[2]}")= __(item[1])
        li.rfcx-menu-mobile__list-item
          a.rfcx-menu-mobile__link.roadgeek(href="#contact", role="button", data-toggle="modal")= __("Contact")

    include common/notifications-tmpl
    link(rel='stylesheet', type='text/css', href='#{bootstrap_cdn}/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css')
    link(rel='stylesheet', type='text/css', href='#{bootstrap_cdn}/font-awesome/4.1.0/css/font-awesome.min.css', id='font-awesome-4')
    style(type="text/css").
      @font-face{font-family:'roadgeek';font-weight:normal;font-style:normal;src:url('#{rfcx_cdn}/font/roadgeek/roadgeek.eot');src:local('☺'),url('#{rfcx_cdn}/font/roadgeek/roadgeek.woff')format('woff'),url('#{rfcx_cdn}/font/roadgeek/roadgeek.ttf')format('truetype'),url('#{rfcx_cdn}/font/roadgeek/roadgeek.svg')format('svg');}
    link(rel='stylesheet', type='text/css', href='#{rfcx_cdn}/css/generated/styles.css?v=#{app_version}')
    script(type='text/javascript', src='#{googlelibs_cdn}/jquery/1.10.1/jquery.min.js')
    script(type='text/javascript', src='#{jsdelivr_cdn}/velocity/1.2.2/velocity.min.js')
    script(type='text/javascript', src='/vendor/parsley.js/2.2.0/parsley.min.js?v=#{app_version}')
    script(type='text/javascript', src='/vendor/jsrender/1.0.0/jsrender.min.js?v=#{app_version}')
    script(type='text/javascript', src='#{cdnjs_cdn}/modernizr/2.6.2/modernizr.min.js')
    script(type='text/javascript', src='#{rfcx_cdn}/js/spinner.js?v=#{app_version}')
    script(type='text/javascript', src='#{rfcx_cdn}/js/notifications.js?v=#{app_version}')
    script(type='text/javascript', src='#{rfcx_cdn}/js/rfcx-preload.js?v=#{app_version}')
    script(type='text/javascript', src='#{rfcx_cdn}/js/rfcx-main.js?v=#{app_version}')
    script(type='text/javascript', src='#{rfcx_cdn}/js/rfcx-video.js?v=#{app_version}')
    block additionalfiles
    script(type='text/javascript').
      RFCX.currentPage = "#{current_page[0]}"; RFCX.cdn.rfcx = "#{rfcx_cdn}"; RFCX.cdn.bootstrap = "#{bootstrap_cdn}"; RFCX.cdn.cdnJs = "#{cdnjs_cdn}"; RFCX.cdn.rfcxVendor = "#{rfcx_vendor_cdn}"; RFCX.cdn.rfcxStatic = "#{rfcx_static_cdn}"; RFCX.cdn.videoJs = "#{videojs_cdn}"; RFCX.cdn.rfcxGithub = "https://rfcx.github.io"; RFCX.social.addThis.pubId = "#{addthis_pubid}"; RFCX.nodeEnv = "#{node_env}"; RFCX.appVersion = "#{app_version}"; RFCX.isIsolated = #{current_page[5]};
    if (node_env == "production")
      script(type='text/javascript').
        !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.1.0";analytics.load("#{segment_write_key}");analytics.page()}}();
    div#fb-root
