extends layout

block content
  
  div.row-fluid.rfcx-row-gradient.rfcx-row.rfcx-row-media-1(style="text-align:center;")
    div.span12
      p.roadgeek.rfcx-header= "HELP SILENCE THE CHAINSAWS"
      p.rfcx-body

  div.row-fluid.rfcx-row-gradient.rfcx-row.rfcx-row-media-2(style="text-align:center;")
    div.span6
      p.roadgeek.rfcx-header= "STAY INFORMED"
    div.span6
      p.roadgeek.rfcx-header= "DONATE"

  div.row-fluid.rfcx-row-gradient.rfcx-row.rfcx-row-media-3(style="text-align:center;")
    div.span6
      p.roadgeek.rfcx-header= "DONATE"
    div.span6
      p.roadgeek.rfcx-header= "DONATE"
