extends layout

block content

  div.row-fluid.rfcx-row-gradient.rfcx-row.rfcx-row-get_involved-1(style="text-align:center;")
    div.span12
      p.roadgeek.rfcx-header= "GREAT JOURNALISM DESERVES GREAT MATERIAL"
      //-p.rfcx-body
        //-span.help1= "We need you. The forests need you. "
        //-span.help2= "The world needs you."

  div.row-fluid.rfcx-row-gradient.rfcx-row.rfcx-row-media-img(style="text-align:center;padding-top:20px;")
    div.span12      
      p.rfcx-body(style="font-size:16px;")
        span= "We're here to help you find what you're looking for."
        
  div.row-fluid.rfcx-row.rfcx-row-media-img(style="text-align:center;")
    div.span6
      p.roadgeek.rfcx-header= "CONTACT US"
      p.rfcx-body
       
    div.span6
      p.roadgeek.rfcx-header= "CONTACT US"
      p.rfcx-body

  div.row-fluid.rfcx-row-gradient.rfcx-row.rfcx-row-media-img(style="text-align:center;")
    div.span12
      p.roadgeek.rfcx-header= "THE DEVICE"
      p.rfcx-body
        span= "NOTE: The following photos of RFCx hardware do not represent realistic placement locations, and are intended for display purposes only. In these photos, the devices are low-mounted on trees in order to enhance their visibility. When properly installed, RFCx devices are placed high in the tree canopy where they are virtually invisible."

    for v,i in media_assets
      if (v['category'] == 'device')

        if (v['type'] == 'image')
          //-a(href="#popup-#{v['id']}", role='button', data-toggle='modal')
          a(target="_blank",href="#{v['orig_link']}")
            div.rfcx-thmb.rfcx-thmb-media(id='img_thmb_#{v["id"]}')
          
          script(type="text/javascript").
            var img_#{v['id']} = new Image(); img_#{v['id']}.class = 'rfcx-media-thmb'; img_#{v['id']}.onload = function(){setSquImg(this);}; img_#{v['id']}.src = '#{v["thmb"]}?v=#{app_version}&hash='+Math.random(); if (img_#{v['id']}.complete) { setSquImg(img_#{v['id']}); } img_#{v['id']}.style.visibility='hidden'; document.getElementById('img_thmb_#{v["id"]}').appendChild(img_#{v['id']});

        if (v['type'] == 'video')
          iframe.rfcx-video-media(src='#{v["thmb"]}')



  div.row-fluid.rfcx-row-gradient.rfcx-row.rfcx-row-media-img(style="text-align:center;")
    div.span12
      p.roadgeek.rfcx-header= "INFOGRAPHICS"

    for v,i in media_assets
      if (v['category'] == 'illustration')

        if (v['type'] == 'image')
          a(target='_blank',href="#{v['orig_link']}")
            div.rfcx-thmb.rfcx-thmb-media(id='img_thmb_#{v["id"]}')
          script(type="text/javascript").
            var img_#{v['id']} = new Image(); img_#{v['id']}.class = 'rfcx-media-thmb'; img_#{v['id']}.onload = function(){setSquImg(this);}; img_#{v['id']}.src = '#{v["thmb"]}?v=#{app_version}&hash='+Math.random(); if (img_#{v['id']}.complete) { setSquImg(img_#{v['id']}); } img_#{v['id']}.style.visibility='hidden'; document.getElementById('img_thmb_#{v["id"]}').appendChild(img_#{v['id']});

        if (v['type'] == 'video')
          iframe.rfcx-video-media(src='#{v["thmb"]}')

  div.row-fluid.rfcx-row-gradient.rfcx-row.rfcx-row-media-3(style="text-align:center;")


  div.row-fluid.rfcx-row-gradient.rfcx-row.rfcx-row-media-img(style="text-align:center;")
    div.span12
      p.roadgeek.rfcx-header= "THE ONES WE HELP TO PROTECT"

    for v,i in media_assets
      if (v['category'] == 'megafauna')

        if (v['type'] == 'image')
          a(target='_blank',href="#{v['orig_link']}")
            div.rfcx-thmb.rfcx-thmb-media(id='img_thmb_#{v["id"]}')
          script(type="text/javascript").
            var img_#{v['id']} = new Image(); img_#{v['id']}.class = 'rfcx-media-thmb'; img_#{v['id']}.onload = function(){setSquImg(this);}; img_#{v['id']}.src = '#{v["thmb"]}?v=#{app_version}&hash='+Math.random(); if (img_#{v['id']}.complete) { setSquImg(img_#{v['id']}); } img_#{v['id']}.style.visibility='hidden'; document.getElementById('img_thmb_#{v["id"]}').appendChild(img_#{v['id']});

        if (v['type'] == 'video')
          iframe.rfcx-video-media(src='#{v["thmb"]}')


  div.row-fluid.rfcx-row-gradient.rfcx-row.rfcx-row-media-img(style="text-align:center;")
    div.span12
      p.roadgeek.rfcx-header= "RFCx IN THE FOREST"

    for v,i in media_assets
      if (v['category'] == 'installation')

        if (v['type'] == 'image')
          a(target='_blank',href="#{v['orig_link']}")
            div.rfcx-thmb.rfcx-thmb-media(id='img_thmb_#{v["id"]}')
          script(type="text/javascript").
            var img_#{v['id']} = new Image(); img_#{v['id']}.class = 'rfcx-media-thmb'; img_#{v['id']}.onload = function(){setSquImg(this);}; img_#{v['id']}.src = '#{v["thmb"]}?v=#{app_version}&hash='+Math.random(); if (img_#{v['id']}.complete) { setSquImg(img_#{v['id']}); } img_#{v['id']}.style.visibility='hidden'; document.getElementById('img_thmb_#{v["id"]}').appendChild(img_#{v['id']});

        if (v['type'] == 'video')
          iframe.rfcx-video-media(src='#{v["thmb"]}')



  div.row-fluid.rfcx-row-gradient.rfcx-row.rfcx-row-media-img(style="text-align:center;")
    div.span12
      p.roadgeek.rfcx-header= "PUTTING IT ALL TOGETHER"

    for v,i in media_assets
      if (v['category'] == 'assembly')

        if (v['type'] == 'image')
          a(target='_blank',href="#{v['orig_link']}")
            div.rfcx-thmb.rfcx-thmb-media(id='img_thmb_#{v["id"]}')
          script(type="text/javascript").
            var img_#{v['id']} = new Image(); img_#{v['id']}.class = 'rfcx-media-thmb'; img_#{v['id']}.onload = function(){setSquImg(this);}; img_#{v['id']}.src = '#{v["thmb"]}?v=#{app_version}&hash='+Math.random(); if (img_#{v['id']}.complete) { setSquImg(img_#{v['id']}); } img_#{v['id']}.style.visibility='hidden'; document.getElementById('img_thmb_#{v["id"]}').appendChild(img_#{v['id']});

        if (v['type'] == 'video')
          iframe.rfcx-video-media(src='#{v["thmb"]}')

  div.row-fluid.rfcx-row-gradient.rfcx-row.rfcx-row-media-3(style="text-align:center;")



  for v,i in media_assets
    div.modal.hide.fade(id="popup-#{v['id']}", tabindex='-1', role='dialog', aria-labelledby="popup-#{v['id']}-label", aria-hidden='true')
      div.modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true')
          i.fa.fa-times
        h3.roadgeek(id="popup-#{v['id']}-label")
          | Rainforest Connection: #{v['category']}
      div.modal-body(style="width:640px;")
        img.rfcx-view-media(src="#{v['thmb']}")
      div.modal-footer
        button.btn(data-dismiss='modal',aria-hidden='true')= "Close"
