extends layout-campaign

block content
  
  div.container-narrow.banner-video.campaign-video
    div.dynamic-crop-right.rfcx-trans-100.banner-bg(style="background-image:url(#{rfcx_cdn}/img/campaign/banner-forest.1400.jpg?v=#{app_version});")
    iframe.video-box.video-box-page(src="//www.youtube.com/embed/ovrBnDf1q2Y?wmode=transparent&rel=0&autohide=1&showinfo=0&enablejsapi=1&controls=1", frameborder="0", allowfullscreen)    

    span.rfcx-unselectable.slogan.slogan-left.slogan-top
      p.roadgeek
       | These baby gibbons, orphaned by deforestation, are being rehabilitated by Kalaweit.
       br
       | Rainforest Connection technology was deployed in the surrounding reserve in 2013.

    span.rfcx-unselectable.slogan.slogan-left
      p.roadgeek
       | And while you're here...

  

  div.row-fluid.rfcx-row.rfcx-row-intro-stats.rfcx-row-intro-stats-title
    div.span12
      p.roadgeek.rfcx-header.title(style="text-transform:none;")
        | HELP US SAY THANK YOU TO THE AWESOME JOURNALISTS
        br
        span(style="font-size:50%;position:relative;top:-15px;")
          | that helped us spread the word about Rainforest Connection
        br
        span(style="font-size:100%;position:relative;top:-15px;line-height:0.5;")
          | Please 'like' their articles below:
        br
        span(style="font-size:50%;position:relative;top:-15px;")
          | (the more you 'like' the more you'll show that Rainforest Connection appreciates them)

  div.row-fluid(style="width:100%;")
    div.span1
      div.fb-like(data-href="http://www.scientificamerican.com/article/if-poachers-and-illegal-loggers-strike-this-forest-phones-it-in/", data-layout="box_count", data-action="like", data-show-faces="false", data-share="false")
      span.mobile-only(style="clear:left;")= "Scientific American"
    div.span1
      div.fb-like(data-href="http://blogs.wsj.com/digits/2014/07/03/chainsaws-gunshots-and-coughs-our-smartphones-are-listening/", data-layout="box_count", data-action="like", data-show-faces="false", data-share="false")
      span.mobile-only(style="clear:left;")= "WSJ"
    div.span1
      div.fb-like(data-href="http://www.engadget.com/2014/06/24/rainforest-connection-kickstarter/", data-layout="box_count", data-action="like", data-show-faces="false", data-share="false")
      span.mobile-only(style="clear:left;")= "Engadget"
    div.span1
      div.fb-like(data-href="http://news.mongabay.com/2014/0624-rainforest-connection-interview.html", data-layout="box_count", data-action="like", data-show-faces="false", data-share="false")
      span.mobile-only(style="clear:left;")= "Mongabay"
    div.span1
      div.fb-like(data-href="http://www.huffingtonpost.com/2014/07/07/illegal-logging_n_5565090.html", data-layout="box_count", data-action="like", data-show-faces="false", data-share="false")
      span.mobile-only(style="clear:left;")= "HuffPost"
    div.span1
      div.fb-like(data-href="http://mashable.com/2014/06/26/recycle-smartphone-startup-deforestation/", data-layout="box_count", data-action="like", data-show-faces="false", data-share="false")
      span.mobile-only(style="clear:left;")= "Mashable"
    div.span1
      div.fb-like(data-href="http://techcrunch.com/2014/06/24/rfcx-kickstarter/", data-layout="box_count", data-action="like", data-show-faces="false", data-share="false")
      span.mobile-only(style="clear:left;")= "TechCrunch"
    div.span1
      div.fb-like(data-href="http://venturebeat.com/2014/06/26/your-old-smartphone-could-pinpoint-illegal-logging-save-the-rainforests/", data-layout="box_count", data-action="like", data-show-faces="false", data-share="false")
      span.mobile-only(style="clear:left;")= "VentureBeat"
    div.span1
      div.fb-like(data-href="http://www.care2.com/causes/heres-how-we-can-stop-illegal-logging-and-poaching-on-the-spot.html", data-layout="box_count", data-action="like", data-show-faces="false", data-share="false")
      span.mobile-only(style="clear:left;")= "Care2"
    div.span1
      div.fb-like(data-href="http://motherboard.vice.com/read/a-network-of-recycled-phones-is-listening-for-illegal-logging-in-the-rainforest", data-layout="box_count", data-action="like", data-show-faces="false", data-share="false")
      span.mobile-only(style="clear:left;")= "VICE"
    div.span1
      div.fb-like(data-href="http://greenpeaceblogs.org/2014/06/25/cell-phones-save-the-rainforest/", data-layout="box_count", data-action="like", data-show-faces="false", data-share="false")
      span.mobile-only(style="clear:left;")= "GreenPeace"
    div.span1
      div.fb-like(data-href="http://www.bluewin.ch/de/leben/hallo-zukunft/2014/mit-alten-handys-gegen-illegale-holzfaeller.html", data-layout="box_count", data-action="like", data-show-faces="false", data-share="false")
      span.mobile-only(style="clear:left;")= "bluewin.ch (Deutsch)"





  div.row-fluid.mobile-exclude(style="text-align:center;line-height:0.9;margin-top:5px;")
    div.span1
      a(href="http://www.scientificamerican.com/article/if-poachers-and-illegal-loggers-strike-this-forest-phones-it-in/", target="_blank",style="position:relative;left:-4px;")= "Scientific American"
    div.span1
      a(href="http://blogs.wsj.com/digits/2014/07/03/chainsaws-gunshots-and-coughs-our-smartphones-are-listening/", target="_blank",style="position:relative;left:-4px;")= "WSJ"
    div.span1
      a(href="http://www.engadget.com/2014/06/24/rainforest-connection-kickstarter/", target="_blank",style="position:relative;left:-4px;")= "Engadget"
    div.span1
      a(href="http://news.mongabay.com/2014/0624-rainforest-connection-interview.html", target="_blank",style="position:relative;left:-4px;")= "MongaBay"
    div.span1
      a(href="http://www.huffingtonpost.com/2014/07/07/illegal-logging_n_5565090.html", target="_blank",style="position:relative;left:-4px;")= "HuffPost"
    div.span1
      a(href="http://mashable.com/2014/06/26/recycle-smartphone-startup-deforestation/", target="_blank",style="position:relative;left:-4px;")= "Mashable"
    div.span1
      a(href="http://techcrunch.com/2014/06/24/rfcx-kickstarter/", target="_blank",style="position:relative;left:-4px;")= "Tech Crunch"
    div.span1
      a(href="http://venturebeat.com/2014/06/26/your-old-smartphone-could-pinpoint-illegal-logging-save-the-rainforests", target="_blank",style="position:relative;left:-4px;")= "Venture Beat"
    div.span1
      a(href="http://www.care2.com/causes/heres-how-we-can-stop-illegal-logging-and-poaching-on-the-spot.html", target="_blank",style="position:relative;left:-4px;")= "Care2"
    div.span1
      a(href="http://motherboard.vice.com/read/a-network-of-recycled-phones-is-listening-for-illegal-logging-in-the-rainforest", target="_blank",style="position:relative;left:-4px;")= "VICE"
    div.span1
      a(href="http://greenpeaceblogs.org/2014/06/25/cell-phones-save-the-rainforest/", target="_blank",style="position:relative;left:-4px;")= "Green Peace"
    div.span1
      a(href="http://www.bluewin.ch/de/leben/hallo-zukunft/2014/mit-alten-handys-gegen-illegale-holzfaeller.html", target="_blank",style="position:relative;left:-4px;")= "bluewin.ch (Deutsch)"

 
  div.row-fluid(style="width:100%;margin-top:20px;")
    div.span1
      div.fb-like(data-href="https://www.youtube.com/watch?v=dFK4Zh7SmSo", data-layout="box_count", data-action="like", data-show-faces="false", data-share="false")
      span.mobile-only(style="clear:left;")= "BBC Horizons"
    div.span1
      div.fb-like(data-href="http://www.greenbiz.com/blog/2014/06/24/how-your-castoff-smartphone-can-fight-deforestation-real-time", data-layout="box_count", data-action="like", data-show-faces="false", data-share="false")
      span.mobile-only(style="clear:left;")= "GreenBiz"
    div.span1
      div.fb-like(data-href="http://inhabitat.com/rainforest-connections-solar-powered-smartphones-catch-illegal-loggers-and-poachers/", data-layout="box_count", data-action="like", data-show-faces="false", data-share="false")
      span.mobile-only(style="clear:left;")= "InHabitat"
    div.span1
      div.fb-like(data-href="http://www.engineering.com/DesignerEdge/DesignerEdgeArticles/ArticleID/7909/Hacking-cellphones-to-save-the-rainforest.aspx", data-layout="box_count", data-action="like", data-show-faces="false", data-share="false")
      span.mobile-only(style="clear:left;")= "Engineering.com"
    div.span1
      div.fb-like(data-href="http://www.mnn.com/green-tech/gadgets-electronics/stories/how-your-old-cellphone-could-help-stop-illegal-logging-and", data-layout="box_count", data-action="like", data-show-faces="false", data-share="false")
      span.mobile-only(style="clear:left;")= "Mother Nature Network"
    div.span1
      div.fb-like(data-href="http://interestingengineering.com/rainforest-connection-aims-to-protect-the-rainforest-using-recycled-tech/", data-layout="box_count", data-action="like", data-show-faces="false", data-share="false")
      span.mobile-only(style="clear:left;")= "Interesting Engineering"
    div.span1
      div.fb-like(data-href="http://www.triplepundit.com/2014/07/old-cell-phones-can-now-protect-old-growth-forests-deforestation/", data-layout="box_count", data-action="like", data-show-faces="false", data-share="false")
      span.mobile-only(style="clear:left;")= "Triple Pundit"
    div.span1
      div.fb-like(data-href="http://www.yourdailymedia.com/post/this-kickstarter-project-will-turn-your-old-phone-into-the-new-captain-plan", data-layout="box_count", data-action="like", data-show-faces="false", data-share="false")
      span.mobile-only(style="clear:left;")= "Your Daily Media"
    div.span1
      div.fb-like(data-href="http://ventureburn.com/2014/07/this-startup-wants-to-save-the-rainforest-prevent-poaching-using-phones-in-trees/", data-layout="box_count", data-action="like", data-show-faces="false", data-share="false")
      span.mobile-only(style="clear:left;")= "Venture Burn"
    div.span1
      div.fb-like(data-href="http://www.takepart.com/article/2014/06/26/incredible-project-uses-old-cell-phones-stop-logging-and-poaching", data-layout="box_count", data-action="like", data-show-faces="false", data-share="false")
      span.mobile-only(style="clear:left;")= "TakePart"
    div.span1
      div.fb-like(data-href="http://www.insidemobileapps.com/2014/06/26/kickstarter-project-uses-recycled-smartphones-to-protect-endangered-trees/", data-layout="box_count", data-action="like", data-show-faces="false", data-share="false")
      span.mobile-only(style="clear:left;")= "Inside Mobile Apps"
    div.span1
      div.fb-like(data-href="http://gizmodo.com/your-old-phone-could-help-eavesdrop-on-illegal-rainfore-1575266728", data-layout="box_count", data-action="like", data-show-faces="false", data-share="false")
      span.mobile-only(style="clear:left;")= "Gizmodo"





  div.row-fluid.mobile-exclude(style="text-align:center;line-height:0.9;margin-top:5px;")
    div.span1
      a(href="https://www.youtube.com/watch?v=dFK4Zh7SmSo", target="_blank",style="position:relative;left:-4px;")= "BBC Horizons"
    div.span1
      a(href="http://www.greenbiz.com/blog/2014/06/24/how-your-castoff-smartphone-can-fight-deforestation-real-time", target="_blank",style="position:relative;left:-4px;")= "GreenBiz"
    div.span1
      a(href="http://inhabitat.com/rainforest-connections-solar-powered-smartphones-catch-illegal-loggers-and-poachers/", target="_blank",style="position:relative;left:-4px;")= "InHabitat"
    div.span1
      a(href="http://www.engineering.com/DesignerEdge/DesignerEdgeArticles/ArticleID/7909/Hacking-cellphones-to-save-the-rainforest.aspx", target="_blank",style="position:relative;left:-4px;")= "Engineering .com"
    div.span1
      a(href="http://www.mnn.com/green-tech/gadgets-electronics/stories/how-your-old-cellphone-could-help-stop-illegal-logging-and", target="_blank",style="position:relative;left:-4px;")= "Mother Nature Network"
    div.span1
      a(href="http://interestingengineering.com/rainforest-connection-aims-to-protect-the-rainforest-using-recycled-tech/", target="_blank",style="position:relative;left:-4px;")= "Interesting Engineering"
    div.span1
      a(href="http://www.triplepundit.com/2014/07/old-cell-phones-can-now-protect-old-growth-forests-deforestation/", target="_blank",style="position:relative;left:-4px;")= "Triple Pundit"
    div.span1
      a(href="http://www.yourdailymedia.com/post/this-kickstarter-project-will-turn-your-old-phone-into-the-new-captain-plan", target="_blank",style="position:relative;left:-4px;")= "Your Daily Media"
    div.span1
      a(href="http://ventureburn.com/2014/07/this-startup-wants-to-save-the-rainforest-prevent-poaching-using-phones-in-trees/", target="_blank",style="position:relative;left:-4px;")= "Venture Burn"
    div.span1
      a(href="http://www.takepart.com/article/2014/06/26/incredible-project-uses-old-cell-phones-stop-logging-and-poaching", target="_blank",style="position:relative;left:-4px;")= "TakePart"
    div.span1
      a(href="http://www.insidemobileapps.com/2014/06/26/kickstarter-project-uses-recycled-smartphones-to-protect-endangered-trees/", target="_blank",style="position:relative;left:-4px;")= "Inside Mobile Apps"
    div.span1
      a(href="http://gizmodo.com/your-old-phone-could-help-eavesdrop-on-illegal-rainfore-1575266728", target="_blank",style="position:relative;left:-4px;")= "Gizmodo"


