div.row-fluid.rfcx-row-gradient.rfcx-row.rfcx-row-about-1.rfcx-row-about-1-1.help-silence
  div.span12
    p.rfcx-row-about-1-1__title.roadgeek.rfcx-header= "Help silence the chainsaws."
    p.rfcx-body
      span.help-silence__subtitle
        span.help1= "We need you. The forests need you. "
        span.help2= "The world needs you."
      span.help-silence__org-info
        small.help-silence__org-info-row!= __("Rainforest Connection (RFCx) is a 501(c)(3) nonprofit. All donations are tax-deductible.")
        small.help-silence__org-info-row!= __("Our nonprofit EIN # is 46-2022575.")