div.row-fluid.rfcx-row.rfcx-row-intro-stats.rfcx-row-intro-stats-title
  div.span12
    p.roadgeek.rfcx-header.title
      | The Facts: Destruction of tropical rainforest...
div.row-fluid.rfcx-row.rfcx-row-intro-stats.rfcx-row-intro-stats_content
  div.span4.stat-page-climate
    p.roadgeek.rfcx-header
      span.rfcx-row-intro-stats__tablet-wrapper
        span.icon(style="background-image:url(#{rfcx_cdn}/img/intro/stats-icon-globe.70.png?v=#{app_version})")
      span.rfcx-row-intro-stats__content
        | ...is a leading cause of
        br
        span.conclusion= "climate change."
        br
        span.source= "-United Nations"
        span.rfcx-row-intro-stats__wrapper
          a.btn.btn-rfcx-mini.lucida(href='#stat-climate', role='button', data-toggle='modal')= "learn more"
  div.span4.stat-page-extinction
    p.roadgeek.rfcx-header
      span.rfcx-row-intro-stats__tablet-wrapper
        span.icon(style="background-image:url(#{rfcx_cdn}/img/intro/stats-icon-death.70.png?v=#{app_version})")
      span.rfcx-row-intro-stats__content
        | ...is causing global
        br
        span.conclusion= "mass extinctions."
        br
        span.source= "-United Nations"
        span.rfcx-row-intro-stats__wrapper
          a.btn.btn-rfcx-mini.lucida(href='#stat-extinction', role='button', data-toggle='modal')= "learn more"

  div.span4.stat-page-crime
    p.roadgeek.rfcx-header
      span.rfcx-row-intro-stats__tablet-wrapper
        span.icon(style="background-image:url(#{rfcx_cdn}/img/intro/stats-icon-alert.70.png?v=#{app_version})")
      span.rfcx-row-intro-stats__content
        | ...is mostly caused by
        br
        span.conclusion= "illegal activity."
        br
        span.source= "-Interpol"
        span.rfcx-row-intro-stats__wrapper
          a.btn.btn-rfcx-mini.lucida(href='#stat-crime', role='button', data-toggle='modal')= "learn more"