div.row-fluid.rfcx-row.rfcx-row-intro-stats.rfcx-row-intro-stats-title
  div.span12
    p.roadgeek.rfcx-header.title
      span= __("The Facts: Destruction of tropical rainforest...")
div.row-fluid.rfcx-row.rfcx-row-intro-stats.rfcx-row-intro-stats_content
  div.span4.stat-page-climate
    p.roadgeek.rfcx-header
      span.rfcx-row-intro-stats__tablet-wrapper
        span.icon(style="background-image:url(#{rfcx_cdn}/img/intro/stats-icon-globe.70.png?v=#{app_version})")
      span.rfcx-row-intro-stats__content
        span!= __("...is a leading cause of %s%sclimate change.%s", '<br>', '<span class="conclusion">', '</span>')
        br
        span.source= "-United Nations"
        span.rfcx-row-intro-stats__wrapper
          a.btn.btn-rfcx-mini.lucida(href='#stat-climate', role='button', data-toggle='modal')= __("learn more")
  div.span4.stat-page-extinction
    p.roadgeek.rfcx-header
      span.rfcx-row-intro-stats__tablet-wrapper
        span.icon(style="background-image:url(#{rfcx_cdn}/img/intro/stats-icon-death.70.png?v=#{app_version})")
      span.rfcx-row-intro-stats__content
        span!= __("...is causing global %s%smass extinctions.%s", '<br>', '<span class="conclusion">', '</span>')
        br
        span.source= "-United Nations"
        span.rfcx-row-intro-stats__wrapper
          a.btn.btn-rfcx-mini.lucida(href='#stat-extinction', role='button', data-toggle='modal')= __("learn more")

  div.span4.stat-page-crime
    p.roadgeek.rfcx-header
      span.rfcx-row-intro-stats__tablet-wrapper
        span.icon(style="background-image:url(#{rfcx_cdn}/img/intro/stats-icon-alert.70.png?v=#{app_version})")
      span.rfcx-row-intro-stats__content
        span!= __("...is mostly caused by%s%sillegal activity.%s", '<br>', '<span class="conclusion">', '</span>')
        br
        span.source= "-Interpol"
        span.rfcx-row-intro-stats__wrapper
          a.btn.btn-rfcx-mini.lucida(href='#stat-crime', role='button', data-toggle='modal')= __("learn more")