div.modal.hide.fade(id='stat-climate', tabindex='-1', role='dialog', aria-labelledby='stat-climate-label', aria-hidden='true')
  div.modal-header
    button.close(type='button', data-dismiss='modal', aria-hidden='true')
      i.fa.fa-times
    h3#stat-climate-label= "Deforestation and Climate Change"
  div.modal-body
    p
    hr
    p
      span.bold= "The Independent (2007)"
      br
      a.italic.rfcx-trans-linear(target="_blank",href="http://www.countercurrents.org/howden140507.htm")
        | "In the next 24 hours, deforestation will release as much CO2 into the atmosphere as 8 million people flying from London to New York. Stopping the loggers is the fastest and cheapest solution to climate change. So why are global leaders turning a blind eye to this crisis?"
        i.fa.fa-external-link.read-more
        | read more
    p
      span.bold= "Nature Magazine (2009)"
      br
      a.italic.rfcx-trans-linear(target="_blank",href="http://www.nature.com/ngeo/journal/v2/n11/abs/ngeo671.html")
        | "Deforestation is the second largest anthropogenic source of carbon dioxide to the atmosphere, after fossil fuel combustion."
        i.fa.fa-external-link.read-more
        | read more
    p
      span.bold= "Amazon Watch"
      br
      a.italic.rfcx-trans-linear(target="_blank",href="http://amazonwatch.org/work/climate-change-and-the-amazon-rainforest")
        | "The rainforest serves as one of Earth's largest reservoirs of carbon dioxide, helping to regulate global climate patterns through the sequestration and storage of carbon dioxide in above-ground biomass and soil."
        i.fa.fa-external-link.read-more
        | read more

  div.modal-footer
    button.btn(data-dismiss='modal',aria-hidden='true')= "Close"